@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<tf-dropdown @attributes="AdditionalAttributes"
             id="@Id"
             class="@CssClass"
             style="@CssStyle"
             data-activation="@((int)ActivationType)"
             data-delay="@(Delay == 0 ? null : Delay)"
             data-open-at-pointer="@OpenAtPointer"
             disabled="@Disabled">
    @if (TriggerContent is null && !HideButton)
    {
        <button class="@ButtonCssClass"
                aria-haspopup="true"
                disabled="@Disabled"
                @onclick="OnButtonClickAsync"
                @onclick:stopPropagation="@(!ActivationType.HasFlag(MouseEvent.LeftClick))">
            @if (!string.IsNullOrEmpty(Icon))
            {
                <tf-icon>@Icon</tf-icon>
            }
            @Text
        </button>
    }
    else
    {
        @TriggerContent
    }
    <Popover AnchorId="@(string.IsNullOrEmpty(AnchorId) ? Id : AnchorId)"
             AnchorOrigin="AnchorOriginValue"
             Class="@PopoverCssClass"
             DismissOnTapOutside="true"
             MatchWidth="@(!OpenAtPointer && TriggerContent is null && !HideButton)"
             MaxHeight="@MaxHeight"
             PositionX="PopoverPositionX"
             PositionY="PopoverPositionY"
             PopoverOrigin="PopoverOriginValue"
             Style="@PopoverStyle"
             ThemeColor="ThemeColor"
             oncontextmenu="@(ActivationType.HasFlag(MouseEvent.RightClick) ? "return false;" : null)">
        <div class="@ListCssClass">
            @ChildContent
        </div>
    </Popover>
</tf-dropdown>