@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<tf-dropdown @attributes="AdditionalAttributes"
             id="@Id"
             class="@CssClass"
             style="@CssStyle"
             activation="@((int)ActivationType)"
             delay="@(Delay == 0 ? null : Delay)"
             disabled="@Disabled"
             open-at-pointer="@OpenAtPointer"
             @dropdowntoggle="OnOpenChangedAsync">
    @if (!HideButton)
    {
        <button class="@ButtonCssClass" disabled="@Disabled">
            @if (!string.IsNullOrEmpty(Icon))
            {
                <tf-icon>@Icon</tf-icon>
            }
            @Text
        </button>
    }
    <Popover AnchorOrigin="AnchorOriginValue"
             Class="@PopoverCssClass"
             AnchorId="@(string.IsNullOrEmpty(AnchorId) ? (HideButton ? null : Id) : AnchorId)"
             MatchWidth="@(!OpenAtPointer && !HideButton)"
             MaxHeight="@MaxHeight"
             PositionX="PopoverPositionX"
             PositionY="PopoverPositionY"
             PopoverOrigin="PopoverOriginValue"
             Style="@PopoverStyle"
             ThemeColor="ThemeColor"
             oncontextmenu="@(ActivationType.HasFlag(MouseEvent.RightClick) ? "return false;" : null)">
        <div class="@ListCssClass">
            @ChildContent
        </div>
    </Popover>
</tf-dropdown>