@namespace Tavenem.Blazor.Framework

@typeparam TValue

@inherits BoolInputComponentBase<TValue>

<div @attributes="AdditionalAttributes" class="@CssClass" style="@Style">
    <label>
        <span class="@IconClass">
            <input @ref="ElementReference"
                   @attributes="InputAttributes"
                   id="@Id"
                   type="radio"
                   tabindex="@TabIndex"
                   class="@InputCssClass"
                   style="@InputCssStyle"
                   autofocus="@AutoFocus"
                   checked="@IsCheckedString"
                   disabled="@IsDisabled"
                   name="@(Context?.GroupName ?? NameValue)"
                   readonly="@IsReadOnly"
                   value="@Value?.ToString()"
                   @onchange="OnChangeAsync"
                   @onclick:preventDefault="@(IsDisabled || IsReadOnly)" />
            <tf-icon class="@CheckedIconClass">@CheckedIcon</tf-icon>
            <tf-icon class="@UncheckedIconClass">@UncheckedIcon</tf-icon>
        </span>
        @if (LabelContent is not null)
        {
            <label class="label" for="@Id">@LabelContent(Value)</label>
        }
        else if (!string.IsNullOrEmpty(Label))
        {
            <label class="label" for="@Id">@Label</label>
        }
    </label>
    @ChildContent
</div>


