@namespace Tavenem.Blazor.Framework

@typeparam TValue

@inherits BoolInputComponentBase<TValue>

<tf-checkbox @ref="ElementReference"
             @attributes="AdditionalAttributes"
             id="@Id"
             class="@CssClass"
             data-checked-outlined="@IsCheckedIconOutlined"
             data-unchecked-outlined="@IsUncheckedIconOutlined"
             data-label="@(LabelContent is null ? Label : null)"
             autofocus="@AutoFocus"
             checked="@IsChecked"
             disabled="@IsDisabled"
             name="@(Context?.GroupName ?? NameValue)"
             radio
             readonly="@IsReadOnly"
             required="@Required"
             style="@CssStyle"
             tabindex="@TabIndex"
             value="@Value?.ToString()"
             @oninputtoggle="OnToggleAsync">
    @if (!string.IsNullOrEmpty(CheckedIcon))
    {
        <tf-icon slot="checked" class="@CheckedIconClass">@CheckedIcon</tf-icon>
    }
    @if (!string.IsNullOrEmpty(UncheckedIcon))
    {
        <tf-icon slot="unchecked" class="@UncheckedIconClass">@UncheckedIcon</tf-icon>
    }
    @if (LabelContent is not null)
    {
        <div slot="label">@LabelContent(Value)</div>
    }
    @ChildContent
</tf-checkbox>


