@namespace Tavenem.Blazor.Framework

@inherits PersistentComponentBase

@ChildContent
<nav @ref="ElementReference"
     @attributes="AdditionalAttributes"
     id="@Id"
     role="navigation"
     class="@CssClass"
     style="@CssStyle"
     tabindex="-1">
    <ol>
        <li>
            @if (PersistState && !IsInteractive)
            {
                <a href="@GetFirstPageUrl()" class="@PageCssClassControl">
                    <tf-icon>@FirstPageIcon</tf-icon>
                </a>
            }
            else if (IsInteractive || Disabled || CurrentPage == 0)
            {
                <button @onclick="OnFirstAsync"
                        class="@PageCssClassControl"
                        disabled="@(Disabled || CurrentPage == 0)">
                    <tf-icon>@FirstPageIcon</tf-icon>
                </button>
            }
            else
            {
                <button class="@PageCssClassControl" disabled>
                    <tf-icon>@FirstPageIcon</tf-icon>
                </button>
            }
        </li>
        <li>
            @if (PersistState && !IsInteractive)
            {
                <a href="@GetPreviousPageUrl()" class="@PageCssClassControl">
                    <tf-icon>@PreviousPageIcon</tf-icon>
                </a>
            }
            else if (IsInteractive || Disabled || CurrentPage == 0)
            {
                <button @onclick="OnPreviousAsync"
                        class="@PageCssClassControl"
                        disabled="@(Disabled || CurrentPage == 0)">
                    <tf-icon>@PreviousPageIcon</tf-icon>
                </button>
            }
            else
            {
                <button class="@PageCssClassControl" disabled>
                    <tf-icon>@PreviousPageIcon</tf-icon>
                </button>
            }
        </li>
        @if (FirstPage > 0)
        {
            <li>&hellip;</li>
        }
        @for (ulong i = FirstPage; i <= LastPage; i++)
        {
            var index = i;
            @if (index == CurrentPage)
            {
                <li @key="index" class="active">
                    <div class="@PageCssClass">@((index + 1).ToString("N0"))</div>
                </li>
            }
            else
            {
                <li @key="index">
                    @if (PersistState && !IsInteractive)
                    {
                        <a href="@GetPageUrl(index)" class="@PageCssClass">
                            @((index + 1).ToString("N0"))
                        </a>
                    }
                    else if (IsInteractive || Disabled)
                    {
                        <button @onclick="@(_ => OnSetPageAsync(index))" class="@PageCssClass" disabled="@Disabled">
                            @((index + 1).ToString("N0"))
                        </button>
                    }
                    else
                    {
                        <button class="@PageCssClass" disabled>
                            @((index + 1).ToString("N0"))
                        </button>
                    }
                </li>
            }
        }
        @if (PageCount.HasValue && LastPage < PageCount.Value - 1)
        {
            <li>&hellip;</li>
        }
        <li>
            @if (PersistState && !IsInteractive)
            {
                <a href="@GetNextPageUrl()" class="@PageCssClassControl">
                    <tf-icon>@NextPageIcon</tf-icon>
                </a>
            }
            else if (IsInteractive || Disabled || CurrentPage == PageCount - 1)
            {
                <button @onclick="OnNextAsync"
                        class="@PageCssClassControl"
                        disabled="@(Disabled || CurrentPage == PageCount - 1)">
                    <tf-icon>@NextPageIcon</tf-icon>
                </button>
            }
            else
            {
                <button class="@PageCssClassControl" disabled>
                    <tf-icon>@NextPageIcon</tf-icon>
                </button>
            }
        </li>
        <li>
            @if (PersistState && !IsInteractive)
            {
                <a href="@GetLastPageUrl()" class="@PageCssClassControl">
                    <tf-icon>@LastPageIcon</tf-icon>
                </a>
            }
            else if (IsInteractive || Disabled || CurrentPage == PageCount - 1)
            {
                <button @ref="LastPageElement"
                        @onclick="OnLastAsync"
                        class="@PageCssClassControl"
                        disabled="@(Disabled || CurrentPage == PageCount - 1)">
                    <tf-icon>@LastPageIcon</tf-icon>
                </button>
            }
            else
            {
                <button @ref="LastPageElement"
                        class="@PageCssClassControl"
                        disabled>
                    <tf-icon>@LastPageIcon</tf-icon>
                </button>
            }
        </li>
    </ol>
    @ChildContent
</nav>
