@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

@ChildContent
<nav @ref="ElementReference"
     @attributes="AdditionalAttributes"
     role="navigation"
     class="@CssClass"
     style="@CssStyle"
     tabindex="-1">
    <ol>
        <li>
            <button @onclick="OnFirstAsync"
                    class="@PageCssClassControl"
                    disabled="@(IsDisabled || CurrentPage == 0)">
                <tf-icon>@FirstPageIcon</tf-icon>
            </button>
        </li>
        <li>
            <button @onclick="OnPreviousAsync"
                    class="@PageCssClassControl"
                    disabled="@(IsDisabled || CurrentPage == 0)">
                <tf-icon>@PreviousPageIcon</tf-icon>
            </button>
        </li>
        @if (FirstPage > 0)
        {
            <li>&hellip;</li>
        }
        @for (ulong i = FirstPage; i <= LastPage; i++)
        {
            var index = i;
            @if (index == CurrentPage)
            {
                <li @key="index" class="active">
                    <div class="@PageCssClass">@((index + 1).ToString("N0"))</div>
                </li>
            }
            else
            {
                <li @key="index">
                    <button @onclick="@(_ => OnSetPageAsync(index))" class="@PageCssClass" disabled="@IsDisabled">
                        @((index + 1).ToString("N0"))
                    </button>
                </li>
            }
        }
        @if (PageCount.HasValue && LastPage < PageCount.Value - 1)
        {
            <li>&hellip;</li>
        }
        <li>
            <button @onclick="OnNextAsync"
                    class="@PageCssClassControl"
                    disabled="@(IsDisabled || CurrentPage == PageCount - 1)">
                <tf-icon>@NextPageIcon</tf-icon>
            </button>
        </li>
        <li>
            <button @ref="LastPageElement"
                    @onclick="OnLastAsync"
                    class="@PageCssClassControl"
                    disabled="@(IsDisabled || CurrentPage == PageCount - 1)">
                <tf-icon>@LastPageIcon</tf-icon>
            </button>
        </li>
    </ol>
</nav>
