@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @ref="_root"
     @attributes="AdditionalAttributes"
     class="@CssClass"
     style="@CssStyle"
     @onkeydown="OnRootKeyEvent"
     @onkeyup="OnRootKeyEvent"
     tabindex="-1">
    <div class="pe-none" style="position:fixed" tabindex="@TrapTabIndex" @onfocus="OnTopFocusAsync"></div>
    <div class="pe-none" style="position:fixed" tabindex="@TrapTabIndex" @onfocus="OnBumperFocusAsync"></div>
    <div @ref="_fallback" class="pe-none" style="position:fixed" tabindex="-1"></div>
    @ChildContent
    <div class="pe-none" style="position:fixed" tabindex="@TrapTabIndex" @onfocus="OnBumperFocusAsync"></div>
    <div class="pe-none" style="position:fixed" tabindex="@TrapTabIndex" @onfocus="OnBottomFocusAsync"></div>
</div>
