@namespace Tavenem.Blazor.Framework

@inherits FormComponentBase<byte>

<fieldset @attributes="AdditionalAttributes"
          class="@CssClass"
          style="@CssStyle"
          aria-required="@Required"
          @onkeydown="OnKeyDown">
    @if (!string.IsNullOrEmpty(Label))
    {
        <legend>@Label</legend>
    }
    @if (Max > 0)
    {
        <div class="rating-buttons">
            <label class="@RatingItemCssClass"
                   style="@RatingItemStyle"
                   @onclick="@(_ => OnRatingClick(0))"
                   @onmouseout="OnMouseOutAsync"
                   @onmouseover="@(_ => OnMouseOverAsync(0))">
                <input @ref="ElementReference"
                       id="@Id"
                       type="radio"
                       autofocus="@AutoFocus"
                       checked="@(Value == 1)"
                       disabled="@Disabled"
                       name="@NameValue"
                       readonly="@ReadOnly"
                       tabindex="@(Disabled ? -1 : TabIndex)"
                       value="1" />
                @if (!string.IsNullOrEmpty(ActiveIcon))
                {
                    <tf-icon class="@ActiveIconClass">@ActiveIcon</tf-icon>
                }
                else
                {
                    <svg class="svg-icon checked" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                }
                @if (!string.IsNullOrEmpty(InactiveIcon))
                {
                    <tf-icon class="@InactiveIconClass">@InactiveIcon</tf-icon>
                }
                else
                {
                    <svg class="svg-icon unchecked" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m323-245 157-94 157 95-42-178 138-120-182-16-71-168-71 167-182 16 138 120-42 178Zm-90 125 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-355Z"/></svg>
                }
            </label>
            @for (var i = 1; i < Max; i++)
            {
                var index = i;
                <label class="@RatingItemCssClass"
                       style="@RatingItemStyle"
                       @onclick="@(_ => OnRatingClick(index))"
                       @onmouseout="OnMouseOutAsync"
                       @onmouseover="@(_ => OnMouseOverAsync(index))">
                    <input type="radio"
                           checked="@(index == Value - 1)"
                           disabled="@Disabled"
                           name="@NameValue"
                           readonly="@ReadOnly"
                           tabindex="@(Disabled ? -1 : TabIndex)"
                           value="@(index + 1)" />
                        @if (!string.IsNullOrEmpty(ActiveIcon))
                        {
                            <tf-icon class="@ActiveIconClass">@ActiveIcon</tf-icon>
                        }
                        else
                        {
                            <svg class="svg-icon checked" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                        }
                        @if (!string.IsNullOrEmpty(InactiveIcon))
                        {
                            <tf-icon class="@InactiveIconClass">@InactiveIcon</tf-icon>
                        }
                        else
                        {
                            <svg class="svg-icon unchecked" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m323-245 157-94 157 95-42-178 138-120-182-16-71-168-71 167-182 16 138 120-42 178Zm-90 125 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-355Z"/></svg>
                        }
                </label>
            }
        </div>
    }
    @if (IsInvalidAndTouched)
    {
        <div class="field-helpers">
            <ul class="mr-auto mb-0 pl-0">
                @foreach (var message in GetValidationMessages())
                {
                    <li>@message</li>
                }
            </ul>
        </div>
    }
    @ChildContent
</fieldset>
