@page "/"

<PageTitle>Tavenem Blazor Framework</PageTitle>

<div class="d-flex flex-column">
    <div class="background-gradient"></div>
    <div class="d-flex flex-wrap">
        <div class="d-flex flex-column align-self-start mt-6 mx-auto">
            <img src="./images/tavenemlogo.svg" alt="" width="200" height="200" class="d-inline-block me-1 align-self-center" />
            <div class="card align-self-start flex-grow-0">
                <div class="body flex-row gap-3" style="width:max-content">
                    <a href="./getting-started/installation" class="btn primary">Get Started</a>
                    <a href="https://github.com/Tavenem/Blazor.Framework" class="btn outlined" style="border-color: currentColor">
                        <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" class="svg-icon">
                            <path d="M12 .3a12 12 0 0 0-3.8 23.4c.6.1.8-.3.8-.6v-2c-3.3.7-4-1.6-4-1.6-.6-1.4-1.4-1.8-1.4-1.8-1-.7.1-.7.1-.7 1.2 0 1.9 1.2 1.9 1.2 1 1.8 2.8 1.3 3.5 1 0-.8.4-1.3.7-1.6-2.7-.3-5.5-1.3-5.5-6 0-1.2.5-2.3 1.3-3.1-.2-.4-.6-1.6 0-3.2 0 0 1-.3 3.4 1.2a11.5 11.5 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8 0 3.2.9.8 1.3 1.9 1.3 3.2 0 4.6-2.8 5.6-5.5 5.9.5.4.9 1 .9 2.2v3.3c0 .3.1.7.8.6A12 12 0 0 0 12 .3"></path>
                        </svg>
                        <span class="ms-1">GitHub</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="ms-auto" style="max-width:46rem;width:calc(100vw - 2rem)">
            <Editor Value="@_editorValue" Syntax="EditorSyntax.HTML" LockSyntax="false" MaxHeight="50vh" />
        </div>
    </div>
    <div class="d-flex flex-wrap">
        <div class="card primary" style="max-width:46rem;width:calc(100vw - 4rem)">
            <div class="body">
                <DataGrid Title="Employees"
                            Items="_items"
                            AllowAdd="true"
                            AllowDelete="true"
                            AllowEdit="true"
                            AllowInlineEdit="true"
                            MaxHeight="50vh"
                            TableClass="hover">
                    <Column Label="Name" Value="@(x => x.Name)" IsQuickFilter="true" />
                    <Column Label="Exec?" Value="@(x => x.IsExecutive)" CanSort="false" />
                    <Column Label="Hire date" Value="@(x => x.HireDate)" Format="d" CanFilter="false">
                        <FooterContent>
                            <div class="d-flex flex-column">
                                <span>Avg: @((new TimeSpan((long)Math.Round(context.Average(x => (DateTime.Now - x.HireDate).Ticks))).Days / 365.25).ToString("F1"))y</span>
                            </div>
                        </FooterContent>
                    </Column>
                </DataGrid>
            </div>
        </div>
        <div class="card align-self-center">
            <div class="header">
                <span class="h5">How awesome is the Tavenem Blazor Framework?</span>
            </div>
            <div class="body">
                <div class="d-flex flex-column align-items-center">
                    <span>On a scale of Awesome to AWSESOME:</span>
                    <Rating @bind-Value="_ratingValue"
                            @bind-HoveredValue="_hoverRating" />
                    <span>@GetRating(_hoverRating ?? _ratingValue)</span>
                </div>
                <div class="row mt-3">
                    <Slider @bind-Value="_sliderValue" Label="On a sliding scale of awesome:" Max="4" />
                    <strong>@GetRating(_sliderValue)</strong>
                </div>
                <div class="row mt-3">
                    <Meter Value="(_ratingValue + _sliderValue)"
                           Label="Total level of awesome:"
                           Low="3"
                           High="8"
                           Optimum="9"
                           Max="9" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="header">
        <h2>What is it?</h2>
    </div>
    <div class="body">
        <div class="row cols-lg-2">
            <div>
                <p>
                    The <a href="https://tavenem.com">Tavenem</a> Blazor Framework is a CSS framework and <a
                    href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor</a> component
                    library designed to help build responsive sites and apps with appealing design and layout
                    features quickly and easily.
                </p>

                <p>
                    Whenever possible, the Tavenem Blazor Framework uses pure CSS to achieve design and layout
                    goals, <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">web components</a>
                    for static elements, and Blazor components to support data binding and customization.
                </p>
            </div>

            <div>
                <p>
                    Each web technology is utilized where it shines. This helps maximize your site's performance and
                    responsiveness, particularly on devices with limited resources or under heavy load. It also
                    makes customization both easier and simpler.
                </p>

                <p>
                    The Tavenem Blazor Framework was also designed to help ease the transition for people who use
                    the excellent <a href="https://getbootstrap.com/">Bootstrap</a> framework. It includes most of
                    the same (or similar) CSS utility classes, and most of the same (or similar) components. This
                    can help those who are transitioning from traditional web technologies to Blazor, by minimizing
                    the rewriting needed.
                </p>
            </div>
        </div>
    </div>
</div>

<h2>Getting Started</h2>

<p>
    Ready to get started with the Tavenem Blazor Framework?
</p>

<p>
    Check out the <a href="./getting-started/installation">Installation</a> guide to learn how to
    include the framework in your project.
</p>

<p>
    Read through the <span class="primary">Layout</span> section of the navigation <a
    href="./components/drawer">Drawer</a> to learn how the framework helps you structure your
    content.
</p>

<p>
    Have a look at the examples in the <span class="primary">Components</span> section to see all
    the controls and elements provided by the framework.
</p>

<p>
    Browse the <span class="primary">Utilities</span> section to learn how the framework can modify
    the appearance and behavior of your content with helper CSS classes, reducing the amount of
    custom CSS necessary to achieve your design goals.
</p>

@code {
    private class DataItem
    {
        public int Id { get; set; }
        public string? Name { get; set; }
        public bool IsExecutive { get; set; }
        public DateTime HireDate { get; set; }
    }
    private string _editorValue =
@"<h2>Welcome to the Tavenem Blazor Framework!</h2>
<p>It includes dozens of components to help you build your website or app using clean, standards-based markup and code.</p>
<p>That includes <em>this</em> rich text <a href=""./components/editor"">editor</a>, the <a href=""./components/datagrid"">DataGrid</a> below, and the collection of components in the ""awesome"" card.</p>
<p>Feel free to play with the text in this editor, and the data in the grid. They are both live, functional components, using only default features from the Tavenem Blazor Framework&mdash;no custom code. If you include them in your own project you will have all the functionality you see here with no extra effort.</p>";
    private List<DataItem> _items = new()
    {
        new DataItem { Id = 0, Name = "Smith, James", IsExecutive = true, HireDate = DateTime.Now - TimeSpan.FromDays(1263) },
        new DataItem { Id = 1, Name = "Johnson, Mary", IsExecutive = true, HireDate = DateTime.Now - TimeSpan.FromDays(1121) },
        new DataItem { Id = 2, Name = "Williams, Robert", IsExecutive = false, HireDate = DateTime.Now - TimeSpan.FromDays(210) },
        new DataItem { Id = 3, Name = "Brown, Patricia", IsExecutive = true, HireDate = DateTime.Now - TimeSpan.FromDays(720) },
        new DataItem { Id = 4, Name = "Jones, John", IsExecutive = false, HireDate = DateTime.Now - TimeSpan.FromDays(550) },
        new DataItem { Id = 5, Name = "Garcia, Jennifer", IsExecutive = false, HireDate = DateTime.Now - TimeSpan.FromDays(160) },
        new DataItem { Id = 6, Name = "Miller, Michael", IsExecutive = true, HireDate = DateTime.Now - TimeSpan.FromDays(1495) },
        new DataItem { Id = 7, Name = "Davis, Linda", IsExecutive = false, HireDate = DateTime.Now - TimeSpan.FromDays(1372) },
        new DataItem { Id = 8, Name = "Rodriguez, William", IsExecutive = false, HireDate = DateTime.Now - TimeSpan.FromDays(150) },
        new DataItem { Id = 9, Name = "Martinez, Elizabeth", IsExecutive = false, HireDate = DateTime.Now - TimeSpan.FromDays(650) },
        new DataItem { Id = 10, Name = "Hernandez, David", IsExecutive = true, HireDate = DateTime.Now - TimeSpan.FromDays(1000) },
        new DataItem { Id = 11, Name = "Lopez, Barbara", IsExecutive = false, HireDate = DateTime.Now - TimeSpan.FromDays(1759) },
        new DataItem { Id = 12, Name = "Gonzales, Richard", IsExecutive = true, HireDate = DateTime.Now - TimeSpan.FromDays(2007) },
        new DataItem { Id = 13, Name = "Wilson, Susan", IsExecutive = true, HireDate = DateTime.Now - TimeSpan.FromDays(1847) },
    };
    private byte _ratingValue = 3;
    private byte? _hoverRating;
    private double _sliderValue = 1.5;
    private string GetRating(byte? value) => value switch
    {
        1 => "Awesome",
        2 => "Very Awesome",
        3 => "Super Awesome",
        4 => "Incredibly Awesome",
        5 => "AWESOME!!!",
        _ => "Unknown level of awesome",
    };
    private string GetRating(double? value) => GetRating((byte)Math.Floor((value ?? 0) + 1));
}
