@page "/getting-started/themes"

<PageTitle>Themes - Tavenem Blazor Framework</PageTitle>

<Heading Level="HeadingLevel.H1">Themes</Heading>

<p>
	This page explains how you can customize the style and appearance of your
	Tavenem Blazor Framework app.
</p>

<Heading Level="HeadingLevel.H2">CSS Custom Properties</Heading>

<p>
    The Tavenem Blazor Framework uses an extensive set of <a
    href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*">CSS custom
    properties</a> (a.k.a. CSS variables) to allow for easy customization of the
    included colors and styles.
</p>
<p>
	You can easily customize the look of your app by assigning new values to
	these properties in your own app's CSS. They are all set on the
	<code>:root</code> CSS pseudo-class.
</p>
<p>
	Make sure to include your own CSS file after the framework's CSS in your
	<code>index.html</code> (Blazor WebAssembly) or <code>_Host.cshtml</code>
	(Blazor Server).
</p>
<p>
	See <AnchorLink href="#list">below</AnchorLink> for the list of properties,
	along with default values and descriptions.
</p>

<Heading Level="HeadingLevel.H2">Light and Dark Mode</Heading>

<p>
	The Tavenem Blazor Framework has built-in support for light and dark mode.
	See <a href="/components/lightdarktoggle">LightDarkToggle</a> for
	details.
</p>
<p>
	Every property which starts with "--tavenem-light" or "--tavenem-dark" also
	has a corresponding property which starts with just "--tavenem". That
	property will automatically fetch the light or dark variant, depending on
	whether your app is currently in light or dark mode.
</p>
<p>
	For example: <code class="pre-attribute">--tavenem-color-text</code> will
	evaluate to either <code class="pre-value">var(--tavenem-light-color-text)</code>
	or <code class="pre-value">var(--tavenem-dark-color-text)</code>, depending
	on the current mode.
</p>
<p>
	These properties allow you to customize the look of your app in light and
	dark mode.
</p>

<Heading Level="HeadingLevel.H2">Theme Colors</Heading>
<p>
	The Tavenem Blazor Framework has a color palette with @(Enum.GetValues<ThemeColor>().Length - 1) basic colors:
</p>
<div class="row fill my-3">
	@foreach (var color in Enum.GetValues<ThemeColor>().Where(x => x != ThemeColor.None))
	{
		<div class="@($"d-flex flex-column rounded filled {color.ToString().ToLowerInvariant()}")" style="min-width: 12em">
			<p class="py-5 mb-0 text-center">@color.ToString()</p>
			<div class="d-flex rounded-bottom">
				<div class="@($"flex-grow-1 filled lighten rounded-bottom-left {color.ToString().ToLowerInvariant()}")">
					<p class="py-3 mb-0 text-center">Lighten</p>
				</div>
				<div class="@($"flex-grow-1 filled darken rounded-bottom-right {color.ToString().ToLowerInvariant()}")">
					<p class="py-3 mb-0 text-center">Darken</p>
				</div>
			</div>
		</div>
	}
</div>
<p>
	The theme colors are defined with hue, saturation, and lightness values so
	that lighter, darker, and transparent versions can be generated
	automatically via derived properties, without requiring separate properties
	or recompilation of the source.
</p>
<p>
	There are light and dark mode variations of each theme color's hue,
	saturation, and lightness, as well as the color of text which will show up
	best against a background of that color.
</p>
<p>
	Note that each theme color has two lighter and darker varieties, which can
	change the lightness value by up to 14%. As a result, you should ensure that
	the lightness values you select for your theme colors are no less than 14
	and no greater than 86. Ideally they should be well away from either
	extreme, since a lightness value too close to 0 will be indistunguishable
	from black, and a value too close to 100 will be indistinguishable from
	white.
</p>

<Heading Level="HeadingLevel.H2" Id="list">Property List</Heading>

<p>
    This is a list of the included properties, along with their default value
    and a brief description of their use in the framework:
</p>
<dl>
	<dt>--tavenem-font-family</dt>
	<dd>Recursive, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"<span class="text-muted ms-2">The font family stack used for the <code class="pre-element">body</code> element</span></dd>

	<dt>--tavenem-font-family-monospace</dt>
	<dd>Recursive, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace<span class="text-muted ms-2">The monospace font family stack used by the <code class="pre-class">font-monospace</code> utility class</span></dd>

	<dt>--tavenem-font-size-h1</dt>
	<dd>3rem<span class="text-muted ms-2">The font size used for <code class="pre-element">h1</code> elements</span></dd>

	<dt>--tavenem-font-size-h2</dt>
	<dd>2.5rem<span class="text-muted ms-2">The font size used for <code class="pre-element">h2</code> elements</span></dd>

	<dt>--tavenem-font-size-h3</dt>
	<dd>2rem<span class="text-muted ms-2">The font size used for <code class="pre-element">h3</code> elements</span></dd>

	<dt>--tavenem-font-size-h4</dt>
	<dd>1.75rem<span class="text-muted ms-2">The font size used for <code class="pre-element">h4</code> elements</span></dd>

	<dt>--tavenem-font-size-h5</dt>
	<dd>1.5rem<span class="text-muted ms-2">The font size used for <code class="pre-element">h5</code> elements</span></dd>

	<dt>--tavenem-font-size-h6</dt>
	<dd>1.25rem<span class="text-muted ms-2">The font size used for <code class="pre-element">h6</code> elements</span></dd>

	<dt>--tavenem-font-size-sm</dt>
	<dd>.875rem<span class="text-muted ms-2">The font size used by the <code class="pre-class">small</code> utility class</span></dd>

	<dt>--tavenem-font-size-subsup</dt>
	<dd>.75rem<span class="text-muted ms-2">The font size used by <code class="pre-element">sub</code> and <code class="pre-element">sup</code> elements</span></dd>

	<dt>--tavenem-font-size-button</dt>
	<dd>.875em<span class="text-muted ms-2">The font size used by the <a href="/components/button">Button</a> component</span></dd>

	<dt>--tavenem-font-weight-light</dt>
	<dd>400<span class="text-muted ms-2">The font weight used for some elements, lighter than normal text</span></dd>

	<dt>--tavenem-font-weight</dt>
	<dd>400<span class="text-muted ms-2">The font weight used for the <code class="pre-element">body</code> element</span></dd>

	<dt>--tavenem-font-weight-semibold</dt>
	<dd>500<span class="text-muted ms-2">The font weight used by the some components, bolder than normal text but not as strong as <code class="pre-attribute">--tavenem-font-weight-bold</code></span></dd>

	<dt>--tavenem-font-weight-medium-bold</dt>
	<dd>600<span class="text-muted ms-2">The font weight used by the some headings, bolder than normal text and medium-bold, but not as strong as <code class="pre-attribute">--tavenem-font-weight-bold</code></span></dd>

	<dt>--tavenem-font-weight-bold</dt>
	<dd>700<span class="text-muted ms-2">The font weight used for the <code class="pre-element">strong</code> element, and in various classes which employ a bolder font</span></dd>

	<dt>--tavenem-lineheight-body</dt>
	<dd>1.5<span class="text-muted ms-2">The line height used for the <code class="pre-element">body</code> element</span></dd>

	<dt>--tavenem-lineheight-heading</dt>
	<dd>1.2<span class="text-muted ms-2">The line height used for all heading elements (<code class="pre-element">h1</code>, <code class="pre-element">h2</code>, etc.)</span></dd>

	<dt>--tavenem-lineheight-button</dt>
	<dd>1.75<span class="text-muted ms-2">The line height used by the <a href="/components/button">Button</a> component</span></dd>

	<dt>--tavenem-texttransform-button</dt>
	<dd>uppercase<span class="text-muted ms-2">The text transform applied to the <a href="/components/button">Button</a> component</span></dd>

	<dt>--tavenem-dark-color-text</dt>
	<dd><span class="swatch" style="background-color:#ffffffb2"></span>#ffffffb2<span class="text-muted ms-2">In dark mode, the color used for text and other foreground elements</span></dd>

	<dt>--tavenem-dark-color-text-secondary</dt>
	<dd><span class="swatch" style="background-color:#ffffff7f"></span>#ffffff7f<span class="text-muted ms-2">In dark mode, the color used for text and other foreground elements with the <code class="pre-class">text-muted</code> utility class applied</span></dd>

	<dt>--tavenem-dark-color-text-disabled</dt>
	<dd><span class="swatch" style="background-color:#ffffff33"></span>#ffffff33<span class="text-muted ms-2">In dark mode, the color used for disabled text and other disabled foreground elements</span></dd>

	<dt>--tavenem-dark-color-link</dt>
	<dd><span class="swatch" style="background-color:#6da7fd"></span>#6da7fd<span class="text-muted ms-2">In dark mode, the color used for hyperlinks</span></dd>

	<dt>--tavenem-dark-color-link-hover</dt>
	<dd><span class="swatch" style="background-color:#3b88fc"></span>#3b88fc<span class="text-muted ms-2">In dark mode, the color used for hyperlinks when hovered or focused</span></dd>

	<dt>--tavenem-light-color-text</dt>
	<dd><span class="swatch" style="background-color:#424242"></span>#424242<span class="text-muted ms-2">In light mode, the color used for text and other foreground elements</span></dd>

	<dt>--tavenem-light-color-text-secondary</dt>
	<dd><span class="swatch" style="background-color:#00000089"></span>#00000089<span class="text-muted ms-2">In light mode, the color used for text and other foreground elements with the <code class="pre-class">text-muted</code> utility class applied</span></dd>

	<dt>--tavenem-light-color-text-disabled</dt>
	<dd><span class="swatch" style="background-color:#00000060"></span>#00000060<span class="text-muted ms-2">In light mode, the color used for disabled text and other disabled foreground elements</span></dd>

	<dt>--tavenem-light-color-link</dt>
	<dd><span class="swatch" style="background-color:#0250c5"></span>#0250c5<span class="text-muted ms-2">In light mode, the color used for hyperlinks</span></dd>

	<dt>--tavenem-light-color-link-hover</dt>
	<dd><span class="swatch" style="background-color:#013b92"></span>#013b92<span class="text-muted ms-2">In light mode, the color used for hyperlinks when hovered or focused</span></dd>

	<dt>--tavenem-dark-color-bg</dt>
	<dd><span class="swatch" style="background-color:#1a1a27"></span>#1a1a27<span class="text-muted ms-2">In dark mode, the background color for the <code class="pre-element">body</code> element</span></dd>

	<dt>--tavenem-dark-color-bg-alt</dt>
	<dd><span class="swatch" style="background-color:#0c0c13"></span>#0c0c13<span class="text-muted ms-2">In dark mode, the background color for elements with the <code class="pre-class">bg-alt</code> utility class applied</span></dd>

	<dt>--tavenem-dark-color-bg-surface</dt>
	<dd><span class="swatch" style="background-color:#1e1d2a"></span>#1e1d2a<span class="text-muted ms-2">In dark mode, the background color for certain components with a non-transparent background</span></dd>

	<dt>--tavenem-dark-color-bg-input</dt>
	<dd><span class="swatch" style="background-color:#121316"></span>#121316<span class="text-muted ms-2">In dark mode, the background color for various <code class="pre-element">input</code> elements and components</span></dd>

	<dt>--tavenem-dark-color-divider</dt>
	<dd><span class="swatch" style="background-color:#ffffff1e"></span>#ffffff1e<span class="text-muted ms-2">In dark mode, the color of <code class="pre-element">hr</code> elements and other dividers</span></dd>

	<dt>--tavenem-dark-color-overlay</dt>
	<dd><span class="swatch" style="background-color:rgba(255,255,255,0.5)"></span>rgba(255,255,255,0.5)<span class="text-muted ms-2">In dark mode, the background color of the <a href="/components/overlay">Overlay</a> component</span></dd>

	<dt>--tavenem-dark-color-action</dt>
	<dd><span class="swatch" style="background-color:#adadb1"></span>#adadb1<span class="text-muted ms-2">In dark mode, the color of various elements and components which indicate a user action (usually clickable elements)</span></dd>

	<dt>--tavenem-dark-color-action-rgb</dt>
	<dd>173,173,177<span class="text-muted ms-2">The red, green, and blue values of <code class="pre-attribute">--tavenem-dark-color-action</code> (ignoring any alpha channel)</span></dd>

	<dt>--tavenem-dark-color-border</dt>
	<dd><span class="swatch" style="background-color:#ffffff1e"></span>#ffffff1e<span class="text-muted ms-2">In dark mode, the color used for most borders</span></dd>

	<dt>--tavenem-dark-color-border-input</dt>
	<dd><span class="swatch" style="background-color:#ffffff4c"></span>#ffffff4c<span class="text-muted ms-2">In dark mode, the color used for borders of <code class="pre-element">input</code> elements and components</span></dd>

	<dt>--tavenem-dark-color-border-table</dt>
	<dd><span class="swatch" style="background-color:#ffffff1e"></span>#ffffff1e<span class="text-muted ms-2">In dark mode, the color used for borders of <code class="pre-element">table</code> elements</span></dd>

	<dt>--tavenem-dark-color-scrollbar</dt>
	<dd><span class="swatch" style="background-color:#67697e"></span>#67697e<span class="text-muted ms-2">In dark mode, the color used for the scrollbar</span></dd>

	<dt>--tavenem-dark-color-scrollbar-hover</dt>
	<dd><span class="swatch" style="background-color:#86889c"></span>#86889c<span class="text-muted ms-2">In dark mode, the color used for the scrollbar when hovered</span></dd>

	<dt>--tavenem-dark-color-yellow-bg</dt>
	<dd><span class="swatch" style="background-color:#a82"></span>#a82<span class="text-muted ms-2">In dark mode, a yellow background color (used for the blazor error message)</span></dd>

	<dt>--tavenem-dark-color-primary-hue</dt>
	<dd>246<span class="text-muted ms-2">In dark mode, the hue of the primary theme color</span></dd>

	<dt>--tavenem-dark-color-primary-saturation</dt>
	<dd>100%<span class="text-muted ms-2">In dark mode, the saturation of the primary theme color</span></dd>

	<dt>--tavenem-dark-color-primary-lightness</dt>
	<dd>72%<span class="text-muted ms-2">In dark mode, the lightness of the primary theme color</span></dd>

	<dt>--tavenem-dark-color-primary-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In dark mode, the color used for text set against a background with the primary theme color</span></dd>

	<dt>--tavenem-dark-color-secondary-hue</dt>
	<dd>270<span class="text-muted ms-2">In dark mode, the hue of the secondary theme color</span></dd>

	<dt>--tavenem-dark-color-secondary-saturation</dt>
	<dd>72%<span class="text-muted ms-2">In dark mode, the saturation of the secondary theme color</span></dd>

	<dt>--tavenem-dark-color-secondary-lightness</dt>
	<dd>59%<span class="text-muted ms-2">In dark mode, the lightness of the secondary theme color</span></dd>

	<dt>--tavenem-dark-color-secondary-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In dark mode, the color used for text set against a background with the secondary theme color</span></dd>

	<dt>--tavenem-dark-color-tertiary-hue</dt>
	<dd>168<span class="text-muted ms-2">In dark mode, the hue of the tertiary theme color</span></dd>

	<dt>--tavenem-dark-color-tertiary-saturation</dt>
	<dd>74%<span class="text-muted ms-2">In dark mode, the saturation of the tertiary theme color</span></dd>

	<dt>--tavenem-dark-color-tertiary-lightness</dt>
	<dd>45%<span class="text-muted ms-2">In dark mode, the lightness of the tertiary theme color</span></dd>

	<dt>--tavenem-dark-color-tertiary-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In dark mode, the color used for text set against a background with the tertiary theme color</span></dd>

	<dt>--tavenem-dark-color-danger-hue</dt>
	<dd>350<span class="text-muted ms-2">In dark mode, the hue of the danger theme color</span></dd>

	<dt>--tavenem-dark-color-danger-saturation</dt>
	<dd>100%<span class="text-muted ms-2">In dark mode, the saturation of the danger theme color</span></dd>

	<dt>--tavenem-dark-color-danger-lightness</dt>
	<dd>62%<span class="text-muted ms-2">In dark mode, the lightness of the danger theme color</span></dd>

	<dt>--tavenem-dark-color-danger-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In dark mode, the color used for text set against a background with the danger theme color</span></dd>

	<dt>--tavenem-dark-color-dark-hue</dt>
	<dd>240<span class="text-muted ms-2">In dark mode, the hue of the dark theme color</span></dd>

	<dt>--tavenem-dark-color-dark-saturation</dt>
	<dd>9%<span class="text-muted ms-2">In dark mode, the saturation of the dark theme color</span></dd>

	<dt>--tavenem-dark-color-dark-lightness</dt>
	<dd>17%<span class="text-muted ms-2">In dark mode, the lightness of the dark theme color</span></dd>

	<dt>--tavenem-dark-color-dark-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In dark mode, the color used for text set against a background with the dark theme color</span></dd>

	<dt>--tavenem-dark-color-default-hue</dt>
	<dd>202<span class="text-muted ms-2">In dark mode, the hue of the default theme color</span></dd>

	<dt>--tavenem-dark-color-default-saturation</dt>
	<dd>6%<span class="text-muted ms-2">In dark mode, the saturation of the default theme color</span></dd>

	<dt>--tavenem-dark-color-default-lightness</dt>
	<dd>37%<span class="text-muted ms-2">In dark mode, the lightness of the default theme color</span></dd>

	<dt>--tavenem-dark-color-default-text</dt>
	<dd>var(--tavenem-light-color-text)<span class="text-muted ms-2">In dark mode, the color used for text set against a background with the default theme color</span></dd>

	<dt>--tavenem-dark-color-info-hue</dt>
	<dd>220<span class="text-muted ms-2">In dark mode, the hue of the info theme color</span></dd>

	<dt>--tavenem-dark-color-info-saturation</dt>
	<dd>100%<span class="text-muted ms-2">In dark mode, the saturation of the info theme color</span></dd>

	<dt>--tavenem-dark-color-info-lightness</dt>
	<dd>65%<span class="text-muted ms-2">In dark mode, the lightness of the info theme color</span></dd>

	<dt>--tavenem-dark-color-info-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In dark mode, the color used for text set against a background with the info theme color</span></dd>

	<dt>--tavenem-dark-color-success-hue</dt>
	<dd>140<span class="text-muted ms-2">In dark mode, the hue of the success theme color</span></dd>

	<dt>--tavenem-dark-color-success-saturation</dt>
	<dd>58%<span class="text-muted ms-2">In dark mode, the saturation of the success theme color</span></dd>

	<dt>--tavenem-dark-color-success-lightness</dt>
	<dd>52%<span class="text-muted ms-2">In dark mode, the lightness of the success theme color</span></dd>

	<dt>--tavenem-dark-color-success-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In dark mode, the color used for text set against a background with the success theme color</span></dd>

	<dt>--tavenem-dark-color-warning-hue</dt>
	<dd>36<span class="text-muted ms-2">In dark mode, the hue of the warning theme color</span></dd>

	<dt>--tavenem-dark-color-warning-saturation</dt>
	<dd>100%<span class="text-muted ms-2">In dark mode, the saturation of the warning theme color</span></dd>

	<dt>--tavenem-dark-color-warning-lightness</dt>
	<dd>64%<span class="text-muted ms-2">In dark mode, the lightness of the warning theme color</span></dd>

	<dt>--tavenem-dark-color-warning-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In dark mode, the color used for text set against a background with the warning theme color</span></dd>

	<dt>--tavenem-light-color-bg</dt>
	<dd><span class="swatch" style="background-color:white"></span>white<span class="text-muted ms-2">In light mode, the background color for the <code class="pre-element">body</code> element</span></dd>

	<dt>--tavenem-light-color-bg-alt</dt>
	<dd><span class="swatch" style="background-color:#ebebeb"></span>#ebebeb<span class="text-muted ms-2">In light mode, the background color for elements with the <code class="pre-class">bg-alt</code> utility class applied</span></dd>

	<dt>--tavenem-light-color-bg-surface</dt>
	<dd><span class="swatch" style="background-color:white"></span>white<span class="text-muted ms-2">In light mode, the background color for certain components with a non-transparent background</span></dd>

	<dt>--tavenem-light-color-bg-input</dt>
	<dd><span class="swatch" style="background-color:white"></span>white<span class="text-muted ms-2">In light mode, the background color for various <code class="pre-element">input</code> elements and components</span></dd>

	<dt>--tavenem-light-color-divider</dt>
	<dd><span class="swatch" style="background-color:#e0e0e0"></span>#e0e0e0<span class="text-muted ms-2">In light mode, the color of <code class="pre-element">hr</code> elements and other dividers</span></dd>

	<dt>--tavenem-light-color-overlay</dt>
	<dd><span class="swatch" style="background-color:rgba(33,33,33,0.5)"></span>rgba(33,33,33,0.5)<span class="text-muted ms-2">In light mode, the background color of the <a href="/components/overlay">Overlay</a> component</span></dd>

	<dt>--tavenem-light-color-action</dt>
	<dd><span class="swatch" style="background-color:rgba(0,0,0,0.54)"></span>rgba(0,0,0,0.54)<span class="text-muted ms-2">In light mode, the color of various elements and components which indicate a user action (usually clickable elements)</span></dd>

	<dt>--tavenem-light-color-action-rgb</dt>
	<dd>0,0,0<span class="text-muted ms-2">The red, green, and blue values of <code class="pre-attribute">--tavenem-light-color-action</code> (ignoring any alpha channel)</span></dd>

	<dt>--tavenem-light-color-border</dt>
	<dd><span class="swatch" style="background-color:#0000001e"></span>#0000001e<span class="text-muted ms-2">In light mode, the color used for most borders</span></dd>

	<dt>--tavenem-light-color-border-input</dt>
	<dd><span class="swatch" style="background-color:#bdbdbd"></span>#bdbdbd<span class="text-muted ms-2">In light mode, the color used for borders of <code class="pre-element">input</code> elements and components</span></dd>

	<dt>--tavenem-light-color-border-table</dt>
	<dd><span class="swatch" style="background-color:#e0e0e0"></span>#e0e0e0<span class="text-muted ms-2">In light mode, the color used for borders of <code class="pre-element">table</code> elements</span></dd>

	<dt>--tavenem-light-color-scrollbar</dt>
	<dd><span class="swatch" style="background-color:#c4c4c4"></span>#c4c4c4<span class="text-muted ms-2">In light mode, the color used for the scrollbar</span></dd>

	<dt>--tavenem-light-color-scrollbar-hover</dt>
	<dd><span class="swatch" style="background-color:#a6a6a6"></span>#a6a6a6<span class="text-muted ms-2">In light mode, the color used for the scrollbar when hovered</span></dd>

	<dt>--tavenem-light-color-yellow-bg</dt>
	<dd><span class="swatch" style="background-color:#fcf8e3"></span>#fcf8e3<span class="text-muted ms-2">In light mode, a yellow background color (used for the blazor error message)</span></dd>

	<dt>--tavenem-light-color-primary-hue</dt>
	<dd>246<span class="text-muted ms-2">In light mode, the hue of the primary theme color</span></dd>

	<dt>--tavenem-light-color-primary-saturation</dt>
	<dd>72%<span class="text-muted ms-2">In light mode, the saturation of the primary theme color</span></dd>

	<dt>--tavenem-light-color-primary-lightness</dt>
	<dd>59%<span class="text-muted ms-2">In light mode, the lightness of the primary theme color</span></dd>

	<dt>--tavenem-light-color-primary-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In light mode, the color used for text set against a background with the primary theme color</span></dd>

	<dt>--tavenem-light-color-secondary-hue</dt>
	<dd>270<span class="text-muted ms-2">In light mode, the hue of the secondary theme color</span></dd>

	<dt>--tavenem-light-color-secondary-saturation</dt>
	<dd>72%<span class="text-muted ms-2">In light mode, the saturation of the secondary theme color</span></dd>

	<dt>--tavenem-light-color-secondary-lightness</dt>
	<dd>59%<span class="text-muted ms-2">In light mode, the lightness of the secondary theme color</span></dd>

	<dt>--tavenem-light-color-secondary-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In light mode, the color used for text set against a background with the secondary theme color</span></dd>

	<dt>--tavenem-light-color-tertiary-hue</dt>
	<dd>168<span class="text-muted ms-2">In light mode, the hue of the tertiary theme color</span></dd>

	<dt>--tavenem-light-color-tertiary-saturation</dt>
	<dd>74%<span class="text-muted ms-2">In light mode, the saturation of the tertiary theme color</span></dd>

	<dt>--tavenem-light-color-tertiary-lightness</dt>
	<dd>45%<span class="text-muted ms-2">In light mode, the lightness of the tertiary theme color</span></dd>

	<dt>--tavenem-light-color-tertiary-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In light mode, the color used for text set against a background with the tertiary theme color</span></dd>

	<dt>--tavenem-light-color-danger-hue</dt>
	<dd>4<span class="text-muted ms-2">In light mode, the hue of the danger theme color</span></dd>

	<dt>--tavenem-light-color-danger-saturation</dt>
	<dd>90%<span class="text-muted ms-2">In light mode, the saturation of the danger theme color</span></dd>

	<dt>--tavenem-light-color-danger-lightness</dt>
	<dd>58%<span class="text-muted ms-2">In light mode, the lightness of the danger theme color</span></dd>

	<dt>--tavenem-light-color-danger-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In light mode, the color used for text set against a background with the danger theme color</span></dd>

	<dt>--tavenem-light-color-light-hue</dt>
	<dd>0<span class="text-muted ms-2">In light mode, the hue of the light theme color</span></dd>

	<dt>--tavenem-light-color-dark-saturation</dt>
	<dd>0%<span class="text-muted ms-2">In light mode, the saturation of the dark theme color</span></dd>

	<dt>--tavenem-light-color-dark-lightness</dt>
	<dd>26%<span class="text-muted ms-2">In light mode, the lightness of the dark theme color</span></dd>

	<dt>--tavenem-light-color-dark-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In light mode, the color used for text set against a background with the dark theme color</span></dd>

	<dt>--tavenem-light-color-default-hue</dt>
	<dd>208<span class="text-muted ms-2">In light mode, the hue of the default theme color</span></dd>

	<dt>--tavenem-light-color-default-saturation</dt>
	<dd>7%<span class="text-muted ms-2">In light mode, the saturation of the default theme color</span></dd>

	<dt>--tavenem-light-color-default-lightness</dt>
	<dd>46%<span class="text-muted ms-2">In light mode, the lightness of the default theme color</span></dd>

	<dt>--tavenem-light-color-default-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In light mode, the color used for text set against a background with the default theme color</span></dd>

	<dt>--tavenem-light-color-info-hue</dt>
	<dd>207<span class="text-muted ms-2">In light mode, the hue of the info theme color</span></dd>

	<dt>--tavenem-light-color-info-saturation</dt>
	<dd>90%<span class="text-muted ms-2">In light mode, the saturation of the info theme color</span></dd>

	<dt>--tavenem-light-color-info-lightness</dt>
	<dd>54%<span class="text-muted ms-2">In light mode, the lightness of the info theme color</span></dd>

	<dt>--tavenem-light-color-info-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In light mode, the color used for text set against a background with the info theme color</span></dd>

	<dt>--tavenem-light-color-success-hue</dt>
	<dd>145<span class="text-muted ms-2">In light mode, the hue of the success theme color</span></dd>

	<dt>--tavenem-light-color-success-saturation</dt>
	<dd>100%<span class="text-muted ms-2">In light mode, the saturation of the success theme color</span></dd>

	<dt>--tavenem-light-color-success-lightness</dt>
	<dd>39%<span class="text-muted ms-2">In light mode, the lightness of the success theme color</span></dd>

	<dt>--tavenem-light-color-success-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In light mode, the color used for text set against a background with the success theme color</span></dd>

	<dt>--tavenem-light-color-warning-hue</dt>
	<dd>36<span class="text-muted ms-2">In light mode, the hue of the warning theme color</span></dd>

	<dt>--tavenem-light-color-warning-saturation</dt>
	<dd>100%<span class="text-muted ms-2">In light mode, the saturation of the warning theme color</span></dd>

	<dt>--tavenem-light-color-warning-lightness</dt>
	<dd>50%<span class="text-muted ms-2">In light mode, the lightness of the warning theme color</span></dd>

	<dt>--tavenem-light-color-warning-text</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In light mode, the color used for text set against a background with the warning theme color</span></dd>

	<dt>--tavenem-dark-color-keyboard</dt>
	<dd>var(--tavenem-light-color-text)<span class="text-muted ms-2">In dark mode, the color used for text within <code class="pre-element">kbd</code> elements</span></dd>

	<dt>--tavenem-dark-color-keyboard-bg</dt>
	<dd><span class="swatch" style="background-color:rgba(255,255,255,.1)"></span>rgba(255,255,255,.1)<span class="text-muted ms-2">In dark mode, the background color of <code class="pre-element">kbd</code> elements</span></dd>

	<dt>--tavenem-light-color-keyboard</dt>
	<dd>var(--tavenem-dark-color-text)<span class="text-muted ms-2">In light mode, the color used for text within <code class="pre-element">kbd</code> elements</span></dd>

	<dt>--tavenem-light-color-keyboard-bg</dt>
	<dd>var(--tavenem-dark-color-bg)<span class="text-muted ms-2">In light mode, the background color of <code class="pre-element">kbd</code> elements</span></dd>

	<dt>--tavenem-color-table-hover</dt>
	<dd><span class="swatch" style="background-color:#0000000a"></span>#0000000a<span class="text-muted ms-2">The background applied to hovered rows in a table with the <code class="pre-class">table</code> and <code class="pre-class">hover</code> classes</span></dd>

	<dt>--tavenem-color-table-stripe</dt>
	<dd><span class="swatch" style="background-color:#00000005"></span>#00000005<span class="text-muted ms-2">The background applied to alternate rows in a table with the <code class="pre-class">table</code> and <code class="pre-class">striped</code> classes</span></dd>

	<dt>--tavenem-color-error</dt>
	<dd>var(--tavenem-color-danger)<span class="text-muted ms-2">The color used to indicate an error</span></dd>

	<dt>--tavenem-shadow-1</dt>
	<dd>0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12)<span class="text-muted ms-2">The box shadow applied by the <code class="pre-class">elevation-1</code> utility class</span></dd>

	<dt>--tavenem-shadow-2</dt>
	<dd>0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12)<span class="text-muted ms-2">The box shadow applied by the <code class="pre-class">elevation-2</code> utility class</span></dd>

	<dt>--tavenem-shadow-3</dt>
	<dd>0px 7px 8px -4px rgba(0,0,0,0.2),0px 12px 17px 2px rgba(0,0,0,0.14),0px 5px 22px 4px rgba(0,0,0,0.12)<span class="text-muted ms-2">The box shadow applied by the <code class="pre-class">elevation-3</code> utility class</span></dd>

	<dt>--tavenem-shadow-4</dt>
	<dd>0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12)<span class="text-muted ms-2">The box shadow applied by the <code class="pre-class">elevation-4</code> utility class</span></dd>

	<dt>--tavenem-shadow-5</dt>
	<dd>0px 10px 13px -6px rgba(0,0,0,0.2),0px 20px 31px 3px rgba(0,0,0,0.14),0px 8px 38px 7px rgba(0,0,0,0.12)<span class="text-muted ms-2">The box shadow applied by the <code class="pre-class">elevation-5</code> utility class</span></dd>

	<dt>--tavenem-shadow-inset</dt>
	<dd>inset 0 1px 2px rgba(0,0,0,0.075)<span class="text-muted ms-2">The box shadow applied to <code class="pre-element">input</code> elements</span></dd>

	<dt>--tavenem-border-radius</dt>
	<dd>4px<span class="text-muted ms-2">The default border radius applied to many components</span></dd>

	<dt>--tavenem-breadcrumb-divider</dt>
	<dd>"/"<span class="text-muted ms-2">The separator used between breadcrumb links</span></dd>

	<dt>--tavenem-zindex-scroll-to-top</dt>
	<dd>100<span class="text-muted ms-2">The <code class="pre-attribute">z-index</code> of <a href="/components/scrolltotop">ScrollToTop</a> components</span></dd>

	<dt>--tavenem-zindex-overlay</dt>
	<dd>1100<span class="text-muted ms-2">The <code class="pre-attribute">z-index</code> of <a href="/components/overlay">overlays</a></span></dd>

	<dt>--tavenem-zindex-drawer</dt>
	<dd>1200<span class="text-muted ms-2">The <code class="pre-attribute">z-index</code> of <a href="/components/drawer">Drawer</a> components</span></dd>

	<dt>--tavenem-zindex-appbar</dt>
	<dd>1300<span class="text-muted ms-2">The <code class="pre-attribute">z-index</code> of <a href="/components/appbar">AppBar</a> components</span></dd>

	<dt>--tavenem-zindex-modal</dt>
	<dd>1400<span class="text-muted ms-2">The <code class="pre-attribute">z-index</code> of <a href="/components/modal">Modal</a> dialogs</span></dd>

	<dt>--tavenem-zindex-snackbar</dt>
	<dd>1500<span class="text-muted ms-2">The <code class="pre-attribute">z-index</code> of the <a href="/components/snackbar">Snackbar</a> container</span></dd>

	<dt>--tavenem-zindex-tooltip</dt>
	<dd>1600<span class="text-muted ms-2">The <code class="pre-attribute">z-index</code> of <a href="/components/tooltip">Tooltips</a></span></dd>
</dl>

<p>
	For each theme color there are also nine additional properties whose value
	is based on their assigned hue, saturation, and lightness. In the following
	list, replace every instance of "{theme}" with the name of a theme color:
</p>
<dl>
	<dt>--tavenem-color-{theme}</dt>
	<dd>hsl(var(--tavenem-color-{theme}-hue), var(--tavenem-color-{theme}-saturation), var(--tavenem-color-{theme}-lightness))</dd>

	<dt>--tavenem-color-{theme}-darken</dt>
	<dd>hsl(var(--tavenem-color-{theme}-hue), var(--tavenem-color-{theme}-saturation), calc(var(--tavenem-color-{theme}-lightness) - 7%))</dd>

	<dt>--tavenem-color-{theme}-darken-2</dt>
	<dd>hsl(var(--tavenem-color-{theme}-hue), var(--tavenem-color-{theme}-saturation), calc(var(--tavenem-color-{theme}-lightness) - 14%))</dd>

	<dt>--tavenem-color-{theme}-lighten</dt>
	<dd>hsl(var(--tavenem-color-{theme}-hue), var(--tavenem-color-{theme}-saturation), calc(var(--tavenem-color-{theme}-lightness) + 7%))</dd>

	<dt>--tavenem-color-{theme}-lighten-2</dt>
	<dd>hsl(var(--tavenem-color-{theme}-hue), var(--tavenem-color-{theme}-saturation), calc(var(--tavenem-color-{theme}-lightness) + 14%))</dd>

	<dt>--tavenem-color-{theme}-hover</dt>
	<dd>hsla(var(--tavenem-color-{theme}-hue), var(--tavenem-color-{theme}-saturation), var(--tavenem-color-{theme}-lightness), .06)</dd>

	<dt>--tavenem-color-{theme}-hover-bright</dt>
	<dd>hsla(var(--tavenem-color-{theme}-hue), var(--tavenem-color-{theme}-saturation), var(--tavenem-color-{theme}-lightness), .12)</dd>

	<dt>--tavenem-color-{theme}-hover-dark</dt>
	<dd>hsla(var(--tavenem-color-{theme}-hue), var(--tavenem-color-{theme}-saturation), calc(var(--tavenem-color-{theme}-lightness) - 7%), .06)</dd>

	<dt>--tavenem-color-{theme}-hover-light</dt>
	<dd>hsla(var(--tavenem-color-{theme}-hue), var(--tavenem-color-{theme}-saturation), calc(var(--tavenem-color-{theme}-lightness) + 7%), .06)</dd>
</dl>
