@namespace Tavenem.Blazor.Framework

@attribute [CascadingTypeParameter(nameof(TListItem))]
@typeparam TListItem

@inherits DropTarget<TListItem>

<div @attributes="AdditionalAttributes"
     id="@Id"
     role="list"
     class="@CssClass"
     style="@CssStyle">
    <CascadingValue Value="this" IsFixed="true">
        <CascadingValue Value="SelectedItems">
            @ChildContent
            @if (TemplateValue is null)
            {
                foreach (var item in ListItems)
                {
                    <ListItem @key="item.ListId"
                              TListItem="TListItem"
                              Item="item.Item"
                              JsonTypeInfo="JsonTypeInfo"
                              ListId="item.ListId"
                              OnDropIndex="OnDropIndex" />
                }
            }
            else
            {
                foreach (var item in ListItems)
                {
                    <ListItem @key="item.ListId"
                              TListItem="TListItem"
                              Item="item.Item"
                              JsonTypeInfo="JsonTypeInfo"
                              ListId="item.ListId"
                              OnDropIndex="OnDropIndex">
                        @TemplateValue(item.Item)
                    </ListItem>
                }
            }
            @if (HasValidDrop && NoDropTargetChildren)
            {
                <div class="@DropPlaceholderClass"></div>
            }
            @FollowingContent
        </CascadingValue>
    </CascadingValue>
</div>
