@namespace Tavenem.Blazor.Framework

@attribute [CascadingTypeParameter(nameof(TListItem))]
@typeparam TListItem

@inherits DropTarget<TListItem>

<div @attributes="AdditionalAttributes"
     id="@Id"
     role="list"
     class="@CssClass"
     style="@CssStyle">
    <CascadingValue Value="this" IsFixed="true">
        <CascadingValue Value="SelectedItems">
            @ChildContent
            @if (Items is not null)
            {
                    @if (TemplateValue is null)
                    {
                        foreach (var item in Items)
                        {
                            <ListItem TListItem="TListItem" Item="item" />
                        }
                    }
                    else
                    {
                        foreach (var item in Items)
                        {
                            <ListItem TListItem="TListItem" Item="item">
                                @TemplateValue(item)
                            </ListItem>
                        }
                    }
            }
            @if (HasValidDrop && NoDropTargetChildren)
            {
                <div class="@DropPlaceholderClass"></div>
            }
            @FollowingContent
        </CascadingValue>
    </CascadingValue>
</div>
