@namespace Tavenem.Blazor.Framework.InternalComponents

@typeparam TListItem

@inherits Collapse

<div @ref="ElementReference"
     @attributes="AdditionalAttributes"
     id="@Id"
     role="group"
     class="@CssClass"
     style="@CssStyle">
    <details>
        <summary>
            @if (ListItem?.HasValidDrop == true)
            {
                <div class="@ListItem?.DropPlaceholderClass" style="flex-shrink:0;width:100%"></div>
            }
            @if (!string.IsNullOrWhiteSpace(ListIconName))
            {
                <tf-icon @onclick="OnClickIconAsync" class="@ListIconClassName">@ListIconName</tf-icon>
            }
            else if (ElementList is not null
                && ElementList.SelectionType != SelectionType.None
                && ElementList.ShowSelectionIconValue)
            {
                <div class="list-icon-spacer"></div>
            }
            @if (TitleContent is null)
            {
                <span draggable="@(IsDraggable ? "true" : "false")"
                      @onclick="OnClickAsync"
                      @onclick:stopPropagation="true">
                    <span>@Title</span>
                    <tf-icon class="ms-2">@IconName</tf-icon>
                </span>
            }
            else
            {
                <div class="d-flex flex-column flex-grow-1"
                     draggable="@(IsDraggable ? "true" : "false")"
                     @onclick="OnClickAsync"
                     @onclick:stopPropagation="true">
                    @TitleContent
                </div>
            }
            <tf-icon>@IconName</tf-icon>
        </summary>
        <div class="@BodyCssClass">
            <CascadingValue Value="this" IsFixed="true">
                @ChildContent
            </CascadingValue>
        </div>
    </details>
    @if (FooterContent is not null)
    {
        <div class="@FooterCssClass">
            @FooterContent
        </div>
    }
</div>
