@namespace Tavenem.Blazor.Framework.InternalComponents

@typeparam TListItem

@inherits Collapse

<div @ref="ElementReference"
     @attributes="AdditionalAttributes"
     id="@Id"
     role="group"
     class="@CssClass"
     style="@CssStyle">
    <div id="@HeaderId" class="@HeaderClass">
        @if (ListItem?.HasValidDrop == true)
        {
            <div class="@ListItem?.DropPlaceholderClass" style="flex-shrink:0;width:100%"></div>
        }
        @if (TitleContent is null)
        {
            <div class="expand" @onclick="OnToggleAsync">
                @if (!string.IsNullOrWhiteSpace(ListIconName))
                {
                    <tf-icon @onclick="OnClickIconAsync" class="@ListIconClassName">@ListIconName</tf-icon>
                }
                else if (ElementList is not null
                    && ElementList.SelectionType != SelectionType.None
                    && ElementList.ShowSelectionIconValue)
                {
                    <div class="list-icon-spacer"></div>
                }
                <span draggable="@(IsDraggable ? "true" : "false")"
                      @onclick="OnClickAsync"
                      @onclick:stopPropagation="true">
                    <span>@Title</span>
                    <tf-icon class="ms-2">@IconName</tf-icon>
                </span>
            </div>
        }
        else if (TitleIsToggle && !IsDraggable)
        {
            @if (!string.IsNullOrWhiteSpace(ListIconName))
            {
                <tf-icon @onclick="OnClickIconAsync" class="@ListIconClassName">@ListIconName</tf-icon>
            }
            <div class="d-flex flex-column flex-grow-1 clickable"
                 @onclick="OnToggleAsync">
                 @TitleContent
            </div>
            <tf-icon class="expand ms-2" @onclick="OnToggleAsync">@IconName</tf-icon>
        }
        else
        {
            @if (!string.IsNullOrWhiteSpace(ListIconName))
            {
                <tf-icon @onclick="OnClickIconAsync" class="@ListIconClassName">@ListIconName</tf-icon>
            }
            else if (ElementList is not null
                && ElementList.SelectionType != SelectionType.None
                && ElementList.ShowSelectionIconValue)
            {
                <div class="list-icon-spacer"></div>
            }
            <div class="d-flex flex-column flex-grow-1"
                 draggable="@(IsDraggable ? "true" : "false")"
                 @onclick="OnClickAsync"
                 @onclick:stopPropagation="true">
                @TitleContent
            </div>
            <tf-icon class="expand ms-2" @onclick="OnToggleAsync">@IconName</tf-icon>
        }
    </div>
    <div class="@BodyCssClass">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
    @if (FooterContent is not null)
    {
        <div class="@FooterCssClass">
            @FooterContent
        </div>
    }
</div>
