@namespace Tavenem.Blazor.Framework.InternalComponents

@typeparam TListItem

@inherits Collapse

<div @ref="ElementReference"
     @attributes="AdditionalAttributes"
     id="@Id"
     role="group"
     class="@CssClass"
     style="@CssStyle">
    <details>
        <summary>
            @if (ListItem?.HasValidDrop == true)
            {
                <div class="@ListItem?.DropPlaceholderClass" style="flex-shrink:0;width:100%"></div>
            }
            @if (ElementList?.SelectionIcons == true)
            {
                if (ListItem?.IsSelected == true)
                {
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m419-321 289-289-43-43-246 246-119-119-43 43 162 162ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z"/></svg>
                }
                else
                {
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Z"/></svg>
                }
            }
            else if (ElementList?.ShowSelectionIconValue == true
                && ListItem?.IsSelected == true)
            {
                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
            }
            else if (!string.IsNullOrWhiteSpace(ListIconName))
            {
                <tf-icon @onclick="OnClickIconAsync" class="@ListIconClassName">@ListIconName</tf-icon>
            }
            else if (ElementList is not null
                && ElementList.SelectionType != SelectionType.None
                && ElementList.ShowSelectionIconValue)
            {
                <div class="list-icon-spacer"></div>
            }
            @if (TitleContent is null)
            {
                <span draggable="@(IsDraggable ? "true" : "false")"
                      @onclick="OnClickAsync"
                      @onclick:stopPropagation="true">
                    <span>@Title</span>
                    <svg class="svg-icon expand ms-2" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
                    <svg class="svg-icon loading ms-2" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/></svg>
                </span>
            }
            else
            {
                <div class="d-flex flex-column flex-grow-1"
                     draggable="@(IsDraggable ? "true" : "false")"
                     @onclick="OnClickAsync"
                     @onclick:stopPropagation="true">
                    @TitleContent
                </div>
            }
            <svg class="svg-icon expand" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
            <svg class="svg-icon loading" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/></svg>
        </summary>
        <div class="@BodyCssClass">
            <CascadingValue Value="this" IsFixed="true">
                @ChildContent
            </CascadingValue>
        </div>
    </details>
    @if (FooterContent is not null)
    {
        <div class="@FooterCssClass">
            @FooterContent
        </div>
    }
</div>
