@namespace Tavenem.Blazor.Framework.InternalComponents

@typeparam TListItem

@inherits Collapse

<div @ref="ElementReference"
     @attributes="AdditionalAttributes"
     id="@Id"
     role="group"
     class="@CssClass"
     style="@CssStyle"
     draggable="@(IsDraggable ? "true" : "false")">
    <div id="@HeaderId" class="@HeaderClass">
        @if (ListItem?.HasValidDrop == true)
        {
            <div class="@ListItem?.DropPlaceholderClass" style="flex-shrink:0;width:100%"></div>
        }
        @if (TitleContent is null)
        {
            <div class="expand" @onclick="OnToggleAsync">
                <span>@Title</span>
                <tf-icon class="ms-2">@IconName</tf-icon>
            </div>
        }
        else if (TitleIsToggle
            && (ElementList is null
            || ElementList.SelectionType == SelectionType.None))
        {
            <div class="d-flex flex-column flex-grow-1 clickable"
                 @onclick="OnToggleAsync">
                 @TitleContent
            </div>
            <tf-icon class="expand ms-2" @onclick="OnToggleAsync">@IconName</tf-icon>
        }
        else
        {
            <div class="d-flex flex-column flex-grow-1">@TitleContent</div>
            <tf-icon class="expand ms-2" @onclick="OnToggleAsync">@IconName</tf-icon>
        }
    </div>
    <div class="@BodyCssClass">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
    @if (FooterContent is not null)
    {
        <div class="@FooterCssClass">
            @FooterContent
        </div>
    }
</div>
