@namespace Tavenem.Blazor.Framework

@typeparam TValue

@inherits ComponentBase

<div @attributes="AdditionalAttributes" class="@CssClass" style="@Style">
    <label>
        <span class="@IconClass">
            <input @ref="ElementReference"
                   @attributes="InputAttributes"
                   id="@Id"
                   type="radio"
                   tabindex="@TabIndex"
                   class="@InputClass"
                   style="@InputStyle"
                   autofocus="@AutoFocus"
                   checked="@IsChecked"
                   disabled="@Group?.Disabled"
                   name="@Context!.GroupName"
                   readonly="@Group?.ReadOnly"
                   value="@Value?.ToString()"
                   @onchange="@Context.ChangeEventCallback"
                   @onclick:preventDefault="@(Group?.ReadOnly ?? false)" />
            <tf-icon>@Icon</tf-icon>
        </span>
        @if (LabelContent is not null)
        {
            <span class="label">@LabelContent(Value)</span>
        }
        else if (!string.IsNullOrEmpty(Label))
        {
            <span class="label">@Label</span>
        }
    </label>
</div>


