@namespace Tavenem.Blazor.Framework

@inherits BoolInputComponentBase<bool>

<tf-switch @ref="ElementReference"
           @attributes="AdditionalAttributes"
           id="@Id"
           class="@CssClass"
           data-checked-outlined="@IsCheckedIconOutlined"
           data-label="@Label"
           data-unchecked-label="@UncheckedLabel"
           autofocus="@AutoFocus"
           checked="@IsChecked"
           disabled="@Disabled"
           name="@NameValue"
           readonly="@ReadOnly"
           required="@Required"
           style="@CssStyle"
           tabindex="@TabIndex"
           @oninputtoggle="OnToggle">
    @if (!string.IsNullOrEmpty(CheckedIcon))
    {
        <tf-icon slot="checked" class="@CheckedIconClass">@CheckedIcon</tf-icon>
    }
    @if (!string.IsNullOrEmpty(UncheckedIcon))
    {
        <tf-icon slot="unchecked" class="@UncheckedIconClass">@UncheckedIcon</tf-icon>
    }
    @if (IsInvalidAndTouched)
    {
        <ul slot="helpers" class="mr-auto mb-0 pl-0">
            @foreach (var message in GetValidationMessages())
            {
                <li>@message</li>
            }
        </ul>
    }
    @ChildContent
</tf-switch>
