@namespace Tavenem.Blazor.Framework.InternalComponents.DataGrid

@typeparam TDataItem

@if (DataGrid is null || Item is null)
{
    return;
}
<tr id="@Id"
    class="@RowCssClass"
    @onclick="@OnClickAsync">
    @if (DataGrid.SelectionType == SelectionType.Multiple)
    {
        <td>
            <Checkbox @bind-Value:get="IsSelected"
                      @bind-Value:set="@(v => DataGrid.OnSelectAsync(this, v))"
                      ThemeColor="ThemeColor" />
        </td>
    }
    @if (DataGrid.AllowEdit && DataGrid.IsInteractive)
    {
        <td style="width:calc(2.75rem + 10px)">
            <span class="d-inline-flex gap-1 align-items-center justify-content-space-around">
                @if (IsEditing)
                {
                    <button id="@($"cancel-edit-{Id}")" class="btn btn-icon small" @onclick="CancelEdit">
                        <tf-icon>@DefaultIcons.Cancel</tf-icon>
                    </button>
                    <Tooltip Anchor="@($"cancel-edit-{Id}")" Delay="750">Cancel</Tooltip>
                    <button id="@($"save-{Id}")" class="@ThemeButtonClass" @onclick="OnSaveAsync">
                        <tf-icon>@DefaultIcons.Save</tf-icon>
                    </button>
                    <Tooltip Anchor="@($"cancel-edit-{Id}")" Delay="750">Save</Tooltip>
                }
                else
                {
                    <button id="@($"edit-{Id}")" class="btn btn-icon small" @onclick="OnEditAsync" @onclick:stopPropagation="true">
                        <tf-icon>@DefaultIcons.Edit</tf-icon>
                    </button>
                    <Tooltip Anchor="@($"edit-{Id}")" Delay="750">Edit</Tooltip>
                    @if (DataGrid.AllowDelete)
                    {
                        <button id="@($"delete-{Id}")" class="btn btn-icon small" @onclick="OnDeleteAsync" @onclick:stopPropagation="true">
                            <tf-icon>@DefaultIcons.Delete</tf-icon>
                        </button>
                        <Tooltip Anchor="@($"delete-{Id}")" Delay="750">Delete</Tooltip>
                    }
                }
            </span>
        </td>
    }
    else if (DataGrid.AllowDelete && DataGrid.IsInteractive)
    {
        <td>
            <button id="@($"delete-{Id}")" class="btn btn-icon small" @onclick="OnDeleteAsync" @onclick:stopPropagation="true">
                <tf-icon>@DefaultIcons.Delete</tf-icon>
            </button>
            <Tooltip Anchor="@($"delete-{Id}")" Delay="750">Delete</Tooltip>
        </td>
    }
    @if (HasRowExpansion)
    {
        <td>
            @if (DataGrid.HasExpandedContent?.Invoke(Item!) != false)
            {
                if (DataGrid.IsInteractive)
                {
                    <button class="btn btn-icon small"
                            @onclick="OnToggleExpansionAsync">
                        <tf-icon class="@ExpandClass">@DefaultIcons.Expand</tf-icon>
                    </button>
                }
                else
                {
                    <a class="btn btn-icon small"
                       href="GetRowExpansionToggleUrl()">
                        <tf-icon class="@ExpandClass">@DefaultIcons.Expand</tf-icon>
                    </a>
                }
            }
        </td>
    }
    @foreach (var column in DataGrid.Columns.Where(x => x.GetIsShown()))
    {
        <td class="@column.GetCellClass(Item)" data-label="@column.Label">
            @if (IsEditing
                && column.GetCanEdit())
            {
                if (column.EditContent is not null)
                {
                    @column.EditContent(Item)
                }
                else if (column is Column<TDataItem, string> stringColumn)
                {
                    <TextInput @bind-Value:get="@stringColumn.GetCellValue(Item)"
                               @bind-Value:set="@(v => stringColumn.SetCellValue(Item, v))"
                               Format="@column.Format"
                               FormatProvider="column.FormatProvider"
                               Validation="@((v, _) => stringColumn.Validate(v, Item))"
                               Class="dense" />
                }
                else if (column is Column<TDataItem, bool> boolColumn)
                {
                    <Checkbox @bind-Value:get="@boolColumn.GetCellValue(Item)"
                              @bind-Value:set="@(v => boolColumn.SetCellValue(Item, v))"
                              Validation="@((v, _) => boolColumn.Validate(v, Item))"
                              Class="dense" />
                }
                else if (column is Column<TDataItem, bool?> nullableBoolColumn)
                {
                    <Checkbox @bind-Value:get="@nullableBoolColumn.GetCellValue(Item)"
                              @bind-Value:set="@(v => nullableBoolColumn.SetCellValue(Item, v))"
                              AllowNull="true"
                              Validation="@((v, _) => nullableBoolColumn.Validate(v, Item))"
                              Class="dense" />
                }
                else if (column is Column<TDataItem, byte> byteColumn)
                {
                    <NumericInput @bind-Value:get="@byteColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => byteColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => byteColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, byte?> nullableByteColumn)
                {
                    <NumericInput @bind-Value:get="@nullableByteColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableByteColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nullableByteColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, decimal> decimalColumn)
                {
                    <NumericInput @bind-Value:get="@decimalColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => decimalColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => decimalColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, decimal?> nullableDecimalColumn)
                {
                    <NumericInput @bind-Value:get="@nullableDecimalColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableDecimalColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nullableDecimalColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, double> doubleColumn)
                {
                    <NumericInput @bind-Value:get="@doubleColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => doubleColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => doubleColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, double?> nullableDoubleColumn)
                {
                    <NumericInput @bind-Value:get="@nullableDoubleColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableDoubleColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nullableDoubleColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, float> floatColumn)
                {
                    <NumericInput @bind-Value:get="@floatColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => floatColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => floatColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, float?> nullableFloatColumn)
                {
                    <NumericInput @bind-Value:get="@nullableFloatColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableFloatColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nullableFloatColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, int> intColumn)
                {
                    <NumericInput @bind-Value:get="@intColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => intColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => intColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, int?> nullableIntColumn)
                {
                    <NumericInput @bind-Value:get="@nullableIntColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableIntColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nullableIntColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, long> longColumn)
                {
                    <NumericInput @bind-Value:get="@longColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => longColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => longColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, long?> nullableLongColumn)
                {
                    <NumericInput @bind-Value:get="@nullableLongColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableLongColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nullableLongColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, nint> nintColumn)
                {
                    <NumericInput @bind-Value:get="@nintColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nintColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nintColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, nint?> nullableNintColumn)
                {
                    <NumericInput @bind-Value:get="@nullableNintColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableNintColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nullableNintColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, nuint> nuintColumn)
                {
                    <NumericInput @bind-Value:get="@nuintColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nuintColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nuintColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, nuint?> nullableNuintColumn)
                {
                    <NumericInput @bind-Value:get="@nullableNuintColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableNuintColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nullableNuintColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, sbyte> sbyteColumn)
                {
                    <NumericInput @bind-Value:get="@sbyteColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => sbyteColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => sbyteColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, sbyte?> nullableSbyteColumn)
                {
                    <NumericInput @bind-Value:get="@nullableSbyteColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableSbyteColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nullableSbyteColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, short> shortColumn)
                {
                    <NumericInput @bind-Value:get="@shortColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => shortColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => shortColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, short?> nullableShortColumn)
                {
                    <NumericInput @bind-Value:get="@nullableShortColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableShortColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nullableShortColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, uint> uintColumn)
                {
                    <NumericInput @bind-Value:get="@uintColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => uintColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => uintColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, uint?> nullableUintColumn)
                {
                    <NumericInput @bind-Value:get="@nullableUintColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableUintColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Label="@column.GetLabel()"
                                  Validation="@((v, _) => nullableUintColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, ulong> ulongColumn)
                {
                    <NumericInput @bind-Value:get="@ulongColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => ulongColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => ulongColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, ulong?> nullableUlongColumn)
                {
                    <NumericInput @bind-Value:get="@nullableUlongColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableUlongColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nullableUlongColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, ushort> ushortColumn)
                {
                    <NumericInput @bind-Value:get="@ushortColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => ushortColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => ushortColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column is Column<TDataItem, ushort?> nullableUshortColumn)
                {
                    <NumericInput @bind-Value:get="@nullableUshortColumn.GetCellValue(Item)"
                                  @bind-Value:set="@(v => nullableUshortColumn.SetCellValue(Item, v))"
                                  Format="@column.Format"
                                  FormatProvider="column.FormatProvider"
                                  Validation="@((v, _) => nullableUshortColumn.Validate(v, Item))"
                                  Class="dense" />
                }
                else if (column.IsEnum)
                {
                    <Select TValue="object"
                            @bind-Value:get="@column.GetCellObjectValue(Item)"
                            @bind-Value:set="@(v => column.SetCellObjectValue(Item, v))"
                            OptionPairs="@column.GetEnumOptions()"
                            Validation="@((v, _) => column.ValidateObject(v, Item))"
                            Class="dense" />
                }
                else if (column is Column<TDataItem, System.DateTime> dateTimeColumn)
                {
                    <DateTimeInput @bind-Value:get="@dateTimeColumn.GetCellValue(Item)"
                                   @bind-Value:set="@(v => dateTimeColumn.SetCellValue(Item, v))"
                                   Format="@column.Format"
                                   FormatProvider="column.FormatProvider"
                                   ShowTime="true"
                                   Validation="@((v, _) => dateTimeColumn.Validate(v, Item))"
                                   Class="dense" />
                }
                else if (column is Column<TDataItem, System.DateTime?> nullableDateTimeColumn)
                {
                    <DateTimeInput @bind-Value:get="@nullableDateTimeColumn.GetCellValue(Item)"
                                   @bind-Value:set="@(v => nullableDateTimeColumn.SetCellValue(Item, v))"
                                   Format="@column.Format"
                                   FormatProvider="column.FormatProvider"
                                   ShowTime="true"
                                   Validation="@((v, _) => nullableDateTimeColumn.Validate(v, Item))"
                                   Class="dense" />
                }
                else if (column is Column<TDataItem, System.DateTimeOffset> dateTimeOffsetColumn)
                {
                    <DateTimeInput @bind-Value:get="@dateTimeOffsetColumn.GetCellValue(Item)"
                                   @bind-Value:set="@(v => dateTimeOffsetColumn.SetCellValue(Item, v))"
                                   Format="@column.Format"
                                   FormatProvider="column.FormatProvider"
                                   ShowTime="true"
                                   ShowTimeZone="true"
                                   Validation="@((v, _) => dateTimeOffsetColumn.Validate(v, Item))"
                                   Class="dense" />
                }
                else if (column is Column<TDataItem, System.DateTimeOffset?> nullableDateTimeOffsetColumn)
                {
                    <DateTimeInput @bind-Value:get="@nullableDateTimeOffsetColumn.GetCellValue(Item)"
                                   @bind-Value:set="@(v => nullableDateTimeOffsetColumn.SetCellValue(Item, v))"
                                   Format="@column.Format"
                                   FormatProvider="column.FormatProvider"
                                   ShowTime="true"
                                   ShowTimeZone="true"
                                   Validation="@((v, _) => nullableDateTimeOffsetColumn.Validate(v, Item))"
                                   Class="dense" />
                }
                else if (column is Column<TDataItem, System.DateOnly> dateOnlyColumn)
                {
                    <DateTimeInput @bind-Value:get="@dateOnlyColumn.GetCellValue(Item)"
                                   @bind-Value:set="@(v => dateOnlyColumn.SetCellValue(Item, v))"
                                   Format="@column.Format"
                                   FormatProvider="column.FormatProvider"
                                   Validation="@((v, _) => dateOnlyColumn.Validate(v, Item))"
                                   Class="dense" />
                }
                else if (column is Column<TDataItem, System.DateOnly?> nullableDateOnlyColumn)
                {
                    <DateTimeInput @bind-Value:get="@nullableDateOnlyColumn.GetCellValue(Item)"
                                   @bind-Value:set="@(v => nullableDateOnlyColumn.SetCellValue(Item, v))"
                                   Format="@column.Format"
                                   FormatProvider="column.FormatProvider"
                                   Validation="@((v, _) => nullableDateOnlyColumn.Validate(v, Item))"
                                   Class="dense" />
                }
                else if (column is Column<TDataItem, System.TimeOnly> timeOnlyColumn)
                {
                    <DateTimeInput @bind-Value:get="@timeOnlyColumn.GetCellValue(Item)"
                                   @bind-Value:set="@(v => timeOnlyColumn.SetCellValue(Item, v))"
                                   Format="@column.Format"
                                   FormatProvider="column.FormatProvider"
                                   Validation="@((v, _) => timeOnlyColumn.Validate(v, Item))"
                                   Class="dense" />
                }
                else if (column is Column<TDataItem, System.TimeOnly?> nullableTimeOnlyColumn)
                {
                    <DateTimeInput @bind-Value:get="@nullableTimeOnlyColumn.GetCellValue(Item)"
                                   @bind-Value:set="@(v => nullableTimeOnlyColumn.SetCellValue(Item, v))"
                                   Format="@column.Format"
                                   FormatProvider="column.FormatProvider"
                                   Validation="@((v, _) => nullableTimeOnlyColumn.Validate(v, Item))"
                                   Class="dense" />
                }
                else if (column is Column<TDataItem, System.Drawing.Color> colorColumn)
                {
                    <ColorInput @bind-Value:get="@colorColumn.GetCellValue(Item)"
                                @bind-Value:set="@(v => colorColumn.SetCellValue(Item, v))"
                                ColorMode="ColorMode.RGB"
                                Format="@column.Format"
                                FormatProvider="column.FormatProvider"
                                Validation="@((v, _) => colorColumn.Validate(v, Item))"
                                Class="dense" />
                }
                else if (column is Column<TDataItem, System.Drawing.Color?> nullableColorColumn)
                {
                    <ColorInput @bind-Value:get="@nullableColorColumn.GetCellValue(Item)"
                                @bind-Value:set="@(v => nullableColorColumn.SetCellValue(Item, v))"
                                ColorMode="ColorMode.RGB"
                                Format="@column.Format"
                                FormatProvider="column.FormatProvider"
                                Validation="@((v, _) => nullableColorColumn.Validate(v, Item))"
                                Class="dense" />
                }
                else if (column.ChildContent is null)
                {
                    @column.ToString(Item)
                }
                else
                {
                    @column.ChildContent(Item)
                }
            }
            else if (column.ChildContent is null)
            {
                if (column.IsBool)
                {
                    if (column.IsNullable
                        || column.IsTrue(Item))
                    {
                        <tf-icon>@column.GetBoolIcon(Item)</tf-icon>
                    }
                }
                else
                {
                    @column.ToString(Item)
                }
            }
            else
            {
                @column.ChildContent(Item)
            }
        </td>
    }
</tr>
@if (DataGrid.ExpandedContent is not null && IsExpanded)
{
    <tr>
        <td colspan="1000">
            <div class="d-flex flex-column">
                <div style="height:.25rem;background-color:var(--table-stripe-color);width:100%">
                    @if (IsLoading && DataGrid.GetRowWasExpanded(Item))
                    {
                        <tf-progress-linear class="@LoadingClass"></tf-progress-linear>
                    }
                </div>
                <div class="flex-grow-1 w-100">
                    @if (IsLoading && !DataGrid.GetRowWasExpanded(Item))
                    {
                        <tf-progress-circle class="@ThemeColor.ToCSS()"></tf-progress-circle>
                    }
                    else
                    {
                        @DataGrid.ExpandedContent(Item)
                    }
                </div>
            </div>
        </td>
    </tr>
}
