@namespace Tavenem.Blazor.Framework

@typeparam TValue

@if (SeparatorBefore)
{
    <hr />
}
<div @ref="ElementReference"
     @attributes="AdditionalAttributes"
     id="@Id"
     class="@CssClass"
     disabled="@Disabled"
     data-close-picker
     data-close-picker-value="@(Select?.GetOptionValueAsString(this) ?? Value?.ToString())"
     data-close-picker-display="@(Label ?? Select?.GetOptionValueAsString(this) ?? Value?.ToString())"
     style="@CssStyle"
     @onclick="OnClickAsync">
    @if (!string.IsNullOrWhiteSpace(IconName))
    {
        <tf-icon>@IconName</tf-icon>
    }
    @if (ChildContent is null)
    {
        @(Label ?? Select?.GetOptionValueAsString(this) ?? Value?.ToString())
    }
    else
    {
        @ChildContent(Value)
    }
</div>
@if (SeparatorAfter)
{
    <hr />
}
