@namespace Tavenem.Blazor.Framework

@attribute [CascadingTypeParameter(nameof(TValue))]
@typeparam TValue

@inherits SelectBase<TValue, TValue>

<div @attributes="AdditionalAttributes"
     id="@ContainerId"
     class="@CssClass"
     style="@CssStyle"
     tabindex="-1"
     @onclick="OnClickContainerAsync">
    <div id="@InputId" class="input">
        <input disabled="@IsDisabled"
               name="@NameValue"
               hidden
               readonly
               value="@CurrentValueAsString" />
        <input @ref="ElementReference"
               @attributes="InputAttributes"
               id="@Id"
               class="@InputCssClass"
               style="@InputCssStyle"
               autofocus="@AutoFocus"
               disabled="@IsDisabled"
               placeholder="@Placeholder"
               readonly
               required="@Required"
               size="1"
               tabindex="@TabIndex"
               value="@DisplayString"
               @onclick="TogglePopoverAsync"
               @onclick:stopPropagation="true" />
        @if (ShowClear)
        {
            <button class="@ClearButtonCssClass"
                    tabindex="-1"
                    @onclick="ClearAsync"
                    @onclick:stopPropagation="true">
                <tf-icon>@ClearIcon</tf-icon>
            </button>
        }
        <tf-icon class="expand" @onclick="TogglePopoverAsync" @onclick:stopPropagation="true">@DefaultIcons.Expand</tf-icon>
    </div>
    @if (!string.IsNullOrEmpty(Label))
    {
        <label for="@Id">@Label</label>
    }
    @if (!string.IsNullOrEmpty(HelpText)
        || IsInvalidAndTouched)
    {
        <div class="field-helpers">
            @if (IsInvalidAndTouched)
            {
                <ul class="mr-auto mb-0 pl-0">
                    @foreach (var message in GetValidationMessages())
                    {
                        <li>@message</li>
                    }
                </ul>
            }
            else if (!string.IsNullOrEmpty(HelpText))
            {
                <div class="mr-auto">@HelpText</div>
            }
        </div>
    }
    <Popover @ref="Popover"
             Class="filled"
             AnchorId="@InputId"
             AnchorOrigin="Origin.Bottom_Left"
             PopoverOrigin="Origin.Top_Left"
             FocusId="@ContainerId"
             FocusOut="ClosePopoverAsync"
             IsOpen="ShowPicker"
             MatchWidth="true"
             MaxHeight="min(300px,90vh)">
        <div class="@OptionListCssClass"
             @onclick:stopPropagation="true">
            <CascadingValue Value="this" IsFixed="true">
                @ChildContent
                @if (Options is not null)
                {
                    if (OptionTemplate is null)
                    {
                        foreach (var value in Options)
                        {
                            <Option @key="value" Value="value" Label="@(Labels?.Invoke(value) ?? value?.ToString())" />
                        }
                    }
                    else
                    {
                        foreach (var value in Options)
                        {
                            <Option @key="value" Value="value">
                                @OptionTemplate(context)
                            </Option>
                        }
                    }
                }
                @if (OptionPairs is not null)
                {
                    foreach (var (key, value) in OptionPairs)
                    {
                        <Option @key="key" Value="key" Label="@value" />
                    }
                }
            </CascadingValue>
        </div>
    </Popover>
</div>
