@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<nav @attributes="AdditionalAttributes" id="@Id" class="@CssClass" style="@CssStyle">
    @if (Headings.Count > 0)
    {
        @if (ChildContent is null)
        {
            <div class="subheader sticky">Contents</div>
        }
        else
        {
            @ChildContent
        }
        @foreach (var heading in Headings)
        {
            @if (string.IsNullOrEmpty(heading.Id))
            {
                <a class="@(heading == ActiveHeading ? "active" : null)" @onclick="@(_ => GoToAsync(heading))">
                    <span style="@HeadingStyle(heading)">@heading.Title</span>
                </a>
            }
            else
            {
                <a href="@($"#{heading.Id}")" class="@(heading == ActiveHeading ? "active" : null)">
                    <span style="@HeadingStyle(heading)">@heading.Title</span>
                </a>
            }
        }
    }
</nav>
