@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<nav @attributes="AdditionalAttributes" id="@Id" class="@CssClass" style="@CssStyle">
    @if (Headings.Count > MinHeadings)
    {
        @if (ChildContent is null)
        {
            <div class="subheader sticky">Contents</div>
        }
        else
        {
            @ChildContent
        }
        @foreach (var heading in Headings)
        {
            if (MaxLevel > 0
                && (heading.Level == HeadingLevel.None
                || (int)heading.Level > MaxLevel))
            {
                continue;
            }
            if (MaxLevelOffset >= 0)
            {
                var offset = heading.Level == HeadingLevel.None
                    ? HighestLevel + 1
                    : (int)heading.Level - LowestLevel;
                if (offset > MaxLevelOffset)
                {
                    continue;
                }
            }
            if (string.IsNullOrEmpty(heading.Id))
            {
                <a class="@(heading == ActiveHeading ? "active" : null)" @onclick="@(_ => GoToAsync(heading))">
                    <span style="@HeadingStyle(heading)">@heading.Title</span>
                </a>
            }
            else
            {
                <a href="@($"#{heading.Id}")" class="@(heading == ActiveHeading ? "active" : null)">
                    <span style="@HeadingStyle(heading)">@heading.Title</span>
                </a>
            }
        }
    }
</nav>
