@page "/components/list"

<PageTitle>List - Tavenem Blazor Framework</PageTitle>

<Heading Level="HeadingLevel.H1">List</Heading>

<p>
    The Tavenem Blazor Framework has extensive support for displaying lists of
    items.
</p>

<Heading Level="HeadingLevel.H2">Basics</Heading>

<p>
    To create a basic list, add the <code>list</code> class to an element (usually a
    <code>div</code> or <code>ul</code>). It may also be appropriate to add
    <code>role="list"</code>, or <code>role="navigation"</code> for lists of links.
</p>

<CodeExample Code="@(@"<div class=""list"">
    <span>Item 1</span>
    <span>Item 2</span>
    <span>Item 3</span>
</div>")" />

<p>
    You can assign a theme class to a list to color it.
</p>

<CodeExample Code="@(@"<ul class=""list primary"">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>")" />

<p>
    To indicate that a non-button, non-link list item is interactive, add the <code>clickable</code>
    class to the item. You can also add it to the list itself to apply to every item.
</p>

<p>
    An active item can be indicated with the <code>active</code> class.
</p>

<CodeExample Code="@(@"<div class=""list clickable"">
    <span>Item 1</span>
    <span class=""active"">Item 2</span>
    <span>Item 3</span>
</div>")" />

<p>
    Use the <code>highlight-start</code> class to modify the active indicator's position.
</p>

<CodeExample Code="@(@"<div class=""list highlight-start"">
    <span>Item 1</span>
    <span class=""active"">Item 2</span>
    <span>Item 3</span>
</div>")" />

<p>
    You can add subheaders to your lists at any position. Give them the <code>inset</code> class to
    provide some initial padding, and the <code>sticky</code> class to cause them to remain at the
    top of a list which is scrolled past the header's position.
</p>

<CodeExample Code="@(@"<div class=""list clickable"">
    <span class=""subheader"">Subheader</span>
    <span>Item 1</span>
    <span class=""active"">Item 2</span>
    <span class=""subheader inset"">Inset subheader</span>
    <span>Item 3</span>
</div>")" />

<p>
    Add the <code>disabled</code> class to change the style and color of the list and its items.
    Note, however, that this does not actually disable any list items such as buttons or links.
</p>

<CodeExample Code="@(@"<div class=""list disabled"">
    <span>Item 1</span>
    <span class=""active"">Item 2</span>
    <span>Item 3</span>
</div>")" />

<p>
    The internal padding of a list can be minimized with the <code>dense</code> class.
</p>

<CodeExample IsOpen="false" Code="@(@"<div class=""list dense"">
    <span>Item 1</span>
    <span class=""active"">Item 2</span>
    <span>Item 3</span>
</div>")" />

<Heading Level="HeadingLevel.H2">Bound Lists</Heading>

<p>
    You can also display data-bound lists with the <code>ElementList&lt;T></code> component. This
    component allows you to display a list based on any <code>List&lt;T></code> of items, and bind
    one or more selected items from the list.
</p>

<p>
    Each <code>ElementList</code> and its child <code>ListItem</code>s have a data type, indicated
    by the <code>TListItem</code> parameter when it can't be inferred. The items in an
    <code>ElementList</code> are displayed using either the <code>Template RenderFragment</code> for
    each item, or if no template is provided, with the <code>ToString</code> method of the items.
</p>

<Collapse IsOpen="true" Class="outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <ElementList TListItem="string" Items="_items" SelectionType="SelectionType.Single" @bind-SelectedItem="_selectedItem1" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<ElementList TListItem=""string"" Items=""_items"" SelectionType=""SelectionType.Single"" @bind-SelectedItem=""_selectedItem"" />", true)
        <br>
        <pre>
<span class="pre-directive">&#64;code {</span>
    <span class="pre-element">private</span> <span class="pre-class">List</span><span class="pre-operator">&lt;</span><span class="pre-element">string</span><span class="pre-operator">&gt;</span> _items <span class="pre-operator">=</span> <span class="pre-element">new</span><span class="pre-operator">() { </span><span class="pre-string">"Item 1"</span>, <span class="pre-string">"Item 2"</span>, <span class="pre-string">"Item 3"</span><span class="pre-operator">};</span>
    <span class="pre-element">private</span> <span class="pre-element">string</span><span class="pre-operator">?</span> _selectedItem<span class="pre-operator">;</span>
<span class="pre-directive">}</span>
        </pre>
    </ChildContent>
</Collapse>

<Heading Level="HeadingLevel.H3">Multiselect</Heading>

<p>
    The <code>SelectionType</code> property determines how selection is handled. If it is set to
    <code>None</code> then items are not selectable. If set to <code>Single</code> one item at a
    time may be selected. If set to <code>Multiple</code> any number of items may be selected.
</p>

<Collapse IsOpen="true" Class="outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <ElementList Items="_items" SelectionType="SelectionType.Multiple" @bind-SelectedItems="_selectedItems" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<ElementList Items=""_items"" SelectionType=""SelectionType.Multiple"" @bind-SelectedItems=""_selectedItems"" />", true)
        <br>
        <pre>
<span class="pre-directive">&#64;code {</span>
    <span class="pre-element">private</span> <span class="pre-class">List</span><span class="pre-operator">&lt;</span><span class="pre-element">string</span><span class="pre-operator">&gt;</span> _items <span class="pre-operator">=</span> <span class="pre-element">new</span><span class="pre-operator">() { </span><span class="pre-string">"Item 1"</span>, <span class="pre-string">"Item 2"</span>, <span class="pre-string">"Item 3"</span> <span class="pre-operator">};</span>
    <span class="pre-element">private</span> <span class="pre-enum">IEnumerable</span><span class="pre-operator">&lt;</span><span class="pre-element">string</span><span class="pre-operator">&gt;</span><span class="pre-operator">?</span> _selectedItems<span class="pre-operator">;</span>
<span class="pre-directive">}</span>
        </pre>
    </ChildContent>
</Collapse>

<Heading Level="HeadingLevel.H3">Required</Heading>

<p>
    You can make the selection required by setting the <code>Required</code> property. Doing so
    prevents de-selecting the last selected item through user interaction. Programmatic changes
    which result in the selection being cleared are still allowed, and no initial selection is
    forced.
</p>

<Collapse IsOpen="true" Class="outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <ElementList TListItem="string" Items="_items" SelectionType="SelectionType.Single" @bind-SelectedItem="_selectedItem2" Required="true" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<ElementList TListItem=""string"" Items=""_items"" SelectionType=""SelectionType.Single"" @bind-SelectedItem=""_selectedItem"" Required=""true"" />", true)
        <br>
        <pre>
<span class="pre-directive">&#64;code {</span>
    <span class="pre-element">private</span> <span class="pre-class">List</span><span class="pre-operator">&lt;</span><span class="pre-element">string</span><span class="pre-operator">&gt;</span> _items <span class="pre-operator">=</span> <span class="pre-element">new</span><span class="pre-operator">() { </span><span class="pre-string">"Item 1"</span>, <span class="pre-string">"Item 2"</span>, <span class="pre-string">"Item 3"</span> <span class="pre-operator">};</span>
    <span class="pre-element">private</span> <span class="pre-element">string</span><span class="pre-operator">?</span> _selectedItem<span class="pre-operator">;</span>
<span class="pre-directive">}</span>
        </pre>
    </ChildContent>
</Collapse>

<Heading Level="HeadingLevel.H3">Tiered Lists</Heading>

<p>
    List items can have child lists of their own by setting their content to another
    <code>ElementList</code>. To create collapsible sublists, set the <code>ItemIsCollapsible</code>
    property to a function which returns <code>true</code> for items with children, and the
    <code>CollapsibleTemplate</code> property to a template used to generate the content of the
    collapse.
</p>

<Collapse IsOpen="true" Class="outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <ElementList Items="_items2" ItemIsCollapsible="@(i => i == "Item 2")">
                <Template>
                    <span>@context</span>
                </Template>
                <CollapsibleTemplate>
                    <ElementList Items="_items2" />
                </CollapsibleTemplate>
            </ElementList>
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<ElementList Items=""_items"" ItemIsCollapsible=""@(i => i == ""Item 2"")"">
    <Template>
        <span>@context</span>
    </Template>
    <CollapsibleTemplate>
        <ElementList Items=""_items"" />
    </CollapsibleTemplate>
</ElementList>", true)
        <br>
        <pre>
<span class="pre-directive">&#64;code {</span>
    <span class="pre-element">private</span> <span class="pre-class">List</span><span class="pre-operator">&lt;</span><span class="pre-element">string</span><span class="pre-operator">&gt;</span> _items <span class="pre-operator">=</span> <span class="pre-element">new</span><span class="pre-operator">() {</span> <span class="pre-string">"Item 1"</span>, <span class="pre-string">"Item 2"</span>, <span class="pre-string">"Item 3"</span> <span class="pre-operator">};</span>
<span class="pre-directive">}</span>
        </pre>
    </ChildContent>
</Collapse>

<p>
    Note that the <code>ItemIsCollapsible</code> and <code>CollapsibleTemplate</code> properties can
    be used to create collapsible list items with content other than sublists, as well.
</p>

<Heading Level="HeadingLevel.H3">Drag and Drop</Heading>

<p>
    Items in an <code>ElementList</code> can be draggable, both within the <code>ElementList</code>
    (to reorder items), and between <code>ElementList</code>s with the same item type.
</p>

<p>
    To make the items in a <code>ElementList</code> draggable, set the <code>IsDragStart</code>
    property of the <code>ElementList</code> to <code>true</code>. To make a
    <code>ElementList</code> a valid drop destination (including for reordering items within itself)
    set its <code>IsDropTarget</code> property to <code>true</code>.
</p>

<Collapse IsOpen="true" Class="outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <ElementList Items="_dragItems" IsDragStart="true" IsDropTarget="true" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<ElementList Items=""_items"" IsDragStart=""true"" IsDropTarget=""true"" />", true)
        <br>
        <pre>
<span class="pre-directive">&#64;code {</span>
    <span class="pre-element">private</span> <span class="pre-class">List</span><span class="pre-operator">&lt;</span><span class="pre-element">string</span><span class="pre-operator">&gt;</span> _items <span class="pre-operator">=</span> <span class="pre-element">new</span><span class="pre-operator">() { </span><span class="pre-string">"Item 1"</span>, <span class="pre-string">"Item 2"</span>, <span class="pre-string">"Item 3"</span> <span class="pre-operator">};</span>
<span class="pre-directive">}</span>
        </pre>
    </ChildContent>
</Collapse>

<p>
    Individual items can disable dragging by returning <code>false</code> from a function assigned
    to the <code>ItemIsDraggable</code> property.
</p>

<p>
    The <code>OnDragStart</code> event handler is invoked when a drag operation starts, and the
    <code>OnDragEnd</code> handler is invoked when it ends (including by cancellation).
</p>

<p>
    A item which is currently being dragged can have a custom class applied during the drag
    operation, by setting the <code>ItemDraggingClass</code> property.
</p>

<p>
    Likewise, a <code>ElementList</code> which is the source of a drag operation can have a custom
    class applied by setting the <code>DraggingClass</code> property.
</p>

<Heading Level="HeadingLevel.H3">List Items</Heading>

<p>
    An icon can be automatically displayed before the content of a list item by setting the
    <code>Icon</code> property to a function which returns the name of the icon. The
    <code>IconClass</code> property can be used to customize the class of the icon span ("icon" is
    automatically included).
</p>

<Collapse IsOpen="true" Class="outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <ElementList Items="_items2" Icon="@(_ => "info")" IconClass="@(_ => "info")" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<ElementList Items=""_items"" Icon=""@(_ => ""info"")"" IconClass=""@(_ => ""info"")"" />", true)
        <br>
        <pre>
<span class="pre-directive">&#64;code {</span>
    <span class="pre-element">private</span> <span class="pre-class">List</span><span class="pre-operator">&lt;</span><span class="pre-element">string</span><span class="pre-operator">&gt;</span> _items <span class="pre-operator">=</span> <span class="pre-element">new</span><span class="pre-operator">() {</span> <span class="pre-string">"Item 1"</span>, <span class="pre-string">"Item 2"</span>, <span class="pre-string">"Item 3"</span> <span class="pre-operator">};</span>
<span class="pre-directive">}</span>
        </pre>
    </ChildContent>
</Collapse>

<p>
    You can insert a separator before or after any item by setting the <code>SeparatorBefore</code>
    and <code>SeparatorAfter</code> properties to functions which return <code>true</code> for the
    appropriate items.
</p>

<Collapse IsOpen="true" Class="outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <ElementList Items="_items2" SeparatorBefore="@(i => i == "Item 2")" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<ElementList Items=""_items"" SeparatorBefore=""@(i => i == ""Item 2"")"" />", true)
        <br>
        <pre>
<span class="pre-directive">&#64;code {</span>
    <span class="pre-element">private</span> <span class="pre-class">List</span><span class="pre-operator">&lt;</span><span class="pre-element">string</span><span class="pre-operator">&gt;</span> _items <span class="pre-operator">=</span> <span class="pre-element">new</span><span class="pre-operator">() { </span><span class="pre-string">"Item 1"</span>, <span class="pre-string">"Item 2"</span>, <span class="pre-string">"Item 3"</span> <span class="pre-operator">};</span>
<span class="pre-directive">}</span>
        </pre>
    </ChildContent>
</Collapse>

<Heading Level="HeadingLevel.H3">Customization</Heading>

<p>
    A selection icon normally replaces any icon assigned to a item via the <code>Icon</code>
    property when the item is selected. You can disable this behavior by setting the
    <code>ShowSelectionIcon</code> property to <code>false</code>.
</p>

<p>
    The theme color of any item may be set by assigning a function to the
    <code>ItemThemeColor</code> property. You can override the theme of selected items by setting
    the <code>SelectedColor</code> property.
</p>

<Collapse IsOpen="true" Class="outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <ElementList TListItem="string" Items="_items" SelectionType="SelectionType.Single" @bind-SelectedItem="_selectedItem3" ShowSelectionIcon="false" SelectedColor="ThemeColor.Primary" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<ElementList TListItem=""string"" Items=""_items"" SelectionType=""SelectionType.Single"" @bind-SelectedItem=""_selectedItem"" ShowSelectionIcon=""false"" SelectedColor=""ThemeColor.Primary"" />", true)
        <br>
        <pre>
<span class="pre-directive">&#64;code {</span>
    <span class="pre-element">private</span> <span class="pre-class">List</span><span class="pre-operator">&lt;</span><span class="pre-element">string</span><span class="pre-operator">&gt;</span> _items <span class="pre-operator">=</span> <span class="pre-element">new</span><span class="pre-operator">() { </span><span class="pre-string">"Item 1"</span>, <span class="pre-string">"Item 2"</span>, <span class="pre-string">"Item 3"</span> <span class="pre-operator">};</span>
    <span class="pre-element">private</span> <span class="pre-element">string</span><span class="pre-operator">?</span> _selectedItem<span class="pre-operator">;</span>
<span class="pre-directive">}</span>
        </pre>
    </ChildContent>
</Collapse>

<Heading Level="HeadingLevel.H3">Clicking</Heading>

<p>
    If you add an event callback to the <code>OnItemClick</code> property, items will automatically
    receive the <code>clickable</code> class and respond to click events, which will invoke the
    <code>OnItemClick</code> callback.
</p>

<Collapse IsOpen="true" Class="outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <ElementList Items="_items2" ItemThemeColor="@(_ => _theme)" OnItemClick="@(_ => _theme = ThemeColor.Primary)" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<ElementList Items=""_items"" ItemThemeColor=""@(_ => _theme)"" OnItemClick=""@(_ => _theme = ThemeColor.Primary)"" />", true)
        <br>
        <pre>
<span class="pre-directive">&#64;code {</span>
    <span class="pre-element">private</span> <span class="pre-enum">ThemeColor</span> _theme <span class="pre-operator">=</span> <span class="pre-enum">ThemeColor</span><span class="pre-operator">.</span>None<span class="pre-operator">;</span>
    <span class="pre-element">private</span> <span class="pre-class">List</span><span class="pre-operator">&lt;</span><span class="pre-element">string</span><span class="pre-operator">&gt;</span> _items <span class="pre-operator">=</span> <span class="pre-element">new</span><span class="pre-operator">() { </span><span class="pre-string">"Item 1"</span>, <span class="pre-string">"Item 2"</span>, <span class="pre-string">"Item 3"</span> <span class="pre-operator">};</span>
<span class="pre-directive">}</span>
        </pre>
    </ChildContent>
</Collapse>

@code {
    private List<string> _items = new() { "Item 1", "Item 2", "Item 3" };
    private List<string> _items2 = new() { "Item 1", "Item 2", "Item 3" };
    private List<int> _items3 = new() { 1, 2, 3 };
    private List<string> _dragItems = new() { "Item 1", "Item 2", "Item 3" };
    private string? _selectedItem1;
    private string? _selectedItem2;
    private string? _selectedItem3;
    private IEnumerable<string>? _selectedItems;
    private bool _show = true;
    private ThemeColor _theme = ThemeColor.None;
}
