@namespace Tavenem.Blazor.Framework

@inherits PersistentComponentBase

<div @attributes="AdditionalAttributes" id="@Id" class="@CssClass" style="@CssStyle">
    <div class="header">
        @if (TitleContent is null)
        {
            if (IsInteractive)
            {
                <div class="expand" @onclick="OnToggleAsync">
                    <span>@Title</span>
                    <tf-icon class="ms-2">@IconName</tf-icon>
                </div>
            }
            else
            {
                <a href="@GetToggleUrl()" class="expand">
                    <span>@Title</span>
                    <tf-icon class="ms-2">@IconName</tf-icon>
                </a>
            }
        }
        else if (TitleIsToggle)
        {
            @if (IsInteractive)
            {
                <div class="d-flex flex-column flex-grow-1 clickable" style="min-width:0" @onclick="OnToggleAsync">
                     @TitleContent
                </div>
                <tf-icon class="expand ms-2" @onclick="OnToggleAsync">@IconName</tf-icon>
            }
            else
            {
                <a href="@GetToggleUrl()" class="d-flex flex-column flex-grow-1 clickable" style="min-width:0">
                     @TitleContent
                </a>
                <a href="@GetToggleUrl()">
                    <tf-icon class="expand ms-2">@IconName</tf-icon>
                </a>
            }
        }
        else
        {
            <div class="d-flex flex-column flex-grow-1" style="min-width:0">
                @TitleContent
            </div>
            @if (IsInteractive)
            {
                <tf-icon class="expand ms-2" @onclick="OnToggleAsync">@IconName</tf-icon>
            }
            else
            {
                <a href="@GetToggleUrl()">
                    <tf-icon class="expand ms-2">@IconName</tf-icon>
                </a>
            }
        }
    </div>
    <div class="@BodyCssClass">
        @ChildContent
    </div>
    @if (FooterContent is not null)
    {
        <div class="@FooterCssClass">
            @FooterContent
        </div>
    }
</div>
