@namespace Tavenem.Blazor.Framework

@inherits PersistentComponentBase

<div @attributes="AdditionalAttributes" id="@Id" class="@CssClass" style="@CssStyle">
    <details open="@StartOpen" @ontoggle="ToggleAsync">
        <summary>
            @if (TitleContent is null)
            {
                <span>@Title</span>
            }
            else
            {
                <div class="d-flex flex-column flex-grow-1" style="min-width:0">
                    @TitleContent
                </div>
            }
            <svg class="svg-icon expand" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
            <svg class="svg-icon loading" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/></svg>
        </summary>
        <div class="@BodyCssClass">
            @ChildContent
        </div>
    </details>
    @if (FooterContent is not null)
    {
        <div class="@FooterCssClass">
            @FooterContent
        </div>
    }
</div>
