@namespace Tavenem.Blazor.Framework

@inherits PersistentComponentBase

<div @attributes="AdditionalAttributes" id="@Id" class="@CssClass" style="@CssStyle">
    <details open="@IsInitiallyOpen" @ontoggle="ToggleAsync">
        <summary>
            @if (TitleContent is null)
            {
                <span>@Title</span>
            }
            else
            {
                <div class="d-flex flex-column flex-grow-1" style="min-width:0">
                    @TitleContent
                </div>
            }
            <tf-icon>@IconName</tf-icon>
        </summary>
        <div class="@BodyCssClass">
            @ChildContent
        </div>
    </details>
    @if (FooterContent is not null)
    {
        <div class="@FooterCssClass">
            @FooterContent
        </div>
    }
</div>
