@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    <div class="header">
        @if (TitleContent is null)
        {
            <div class="expand" @onclick="OnToggleAsync">
                <span>@Title</span>
                <tf-icon class="ms-2">@IconName</tf-icon>
            </div>
        }
        else if (TitleIsToggle)
        {
            <div class="d-flex flex-column flex-grow-1 clickable" style="min-width:0" @onclick="OnToggleAsync">
                 @TitleContent
            </div>
            <tf-icon class="expand ms-2" @onclick="OnToggleAsync">@IconName</tf-icon>
        }
        else
        {
            <div class="d-flex flex-column flex-grow-1" style="min-width:0">
                @TitleContent
            </div>
            <tf-icon class="expand ms-2" @onclick="OnToggleAsync">@IconName</tf-icon>
        }
    </div>
    <div class="@BodyCssClass">
        @ChildContent
    </div>
    @if (FooterContent is not null)
    {
        <div class="@FooterCssClass">
            @FooterContent
        </div>
    }
</div>
