@namespace Tavenem.Blazor.Framework

@attribute [CascadingTypeParameter(nameof(TValue))]
@typeparam TValue

@inherits FormComponentBase<TValue>

<fieldset @ref="FieldSet"
          @attributes="AdditionalAttributes"
          class="@CssClass"
          style="@CssStyle"
          aria-required="@Required"
          tabindex="@(Disabled ? -1 : TabIndex)">
    <div class="content">
        @if (!string.IsNullOrEmpty(Label))
        {
            <legend>@Label</legend>
        }
        <div class="options">
            <CascadingValue Value="this" IsFixed="true">
                <CascadingValue Value="_context">
                    @ChildContent
                    @if (Values?.Count > 0)
                    {
                        if (LabelTemplate is null)
                        {
                            <RadioButton @ref="FirstButton"
                                         @key="Values[0]"
                                         Id="@Id"
                                         Value="Values[0]"
                                         Label="@Values[0]?.ToString()"
                                         AutoFocus="AutoFocus"
                                         CheckedIcon="@CheckedIcon"
                                         CheckedIconOutlined="CheckedIconOutlined"
                                         Disabled="Disabled"
                                         InputAttributes="InputAttributes"
                                         InputClass="@InputClass"
                                         InputStyle="@InputStyle"
                                         ReadOnly="ReadOnly"
                                         UncheckedIcon="@UncheckedIcon"
                                         UncheckedIconOutlined="CheckedIconOutlined" />
                            for (var i = 1; i < Values.Count; i++)
                            {
                                var index = i;
                                <RadioButton @key="Values[index]"
                                             Value="Values[index]"
                                             Label="@Values[index]?.ToString()"
                                             CheckedIcon="@CheckedIcon"
                                             CheckedIconOutlined="CheckedIconOutlined"
                                             Disabled="Disabled"
                                             InputAttributes="InputAttributes"
                                             InputClass="@InputClass"
                                             InputStyle="@InputStyle"
                                             ReadOnly="ReadOnly"
                                             UncheckedIcon="@UncheckedIcon"
                                             UncheckedIconOutlined="CheckedIconOutlined" />
                            }
                        }
                        else
                        {
                            <RadioButton @ref="FirstButton"
                                         @key="Values[0]"
                                         Id="@Id"
                                         Value="Values[0]"
                                         Label="@Values[0]?.ToString()"
                                         AutoFocus="AutoFocus"
                                         CheckedIcon="@CheckedIcon"
                                         CheckedIconOutlined="CheckedIconOutlined"
                                         Disabled="Disabled"
                                         InputAttributes="InputAttributes"
                                         InputClass="@InputClass"
                                         InputStyle="@InputStyle"
                                         ReadOnly="ReadOnly"
                                         UncheckedIcon="@UncheckedIcon"
                                         UncheckedIconOutlined="CheckedIconOutlined">
                                <LabelContent>
                                    @LabelTemplate(context)
                                </LabelContent>
                            </RadioButton>
                            for (var i = 1; i < Values.Count; i++)
                            {
                                var index = i;
                                <RadioButton @key="Values[index]"
                                             Value="Values[index]"
                                             Label="@Values[index]?.ToString()"
                                             CheckedIcon="@CheckedIcon"
                                             CheckedIconOutlined="CheckedIconOutlined"
                                             Disabled="Disabled"
                                             InputAttributes="InputAttributes"
                                             InputClass="@InputClass"
                                             InputStyle="@InputStyle"
                                             ReadOnly="ReadOnly"
                                             UncheckedIcon="@UncheckedIcon"
                                             UncheckedIconOutlined="CheckedIconOutlined">
                                    <LabelContent>
                                        @LabelTemplate(context)
                                    </LabelContent>
                                </RadioButton>
                            }
                        }
                    }
                    @if (ValuePairs is not null)
                    {
                        var startIndex = Values is null || Values.Count == 0 ? 1 : 0;
                        @if (Values is null || Values.Count == 0)
                        {
                            <RadioButton @ref="FirstButton"
                                         @key="ValuePairs[0].Key"
                                         Id="@Id"
                                         Value="ValuePairs[0].Key"
                                         Label="@ValuePairs[0].Value"
                                         AutoFocus="AutoFocus"
                                         CheckedIcon="@CheckedIcon"
                                         CheckedIconOutlined="CheckedIconOutlined"
                                         Disabled="Disabled"
                                         InputAttributes="InputAttributes"
                                         InputClass="@InputClass"
                                         InputStyle="@InputStyle"
                                         ReadOnly="ReadOnly"
                                         UncheckedIcon="@UncheckedIcon"
                                         UncheckedIconOutlined="CheckedIconOutlined" />
                        }
                        for (var i = startIndex; i < ValuePairs.Count; i++)
                        {
                            var index = i;
                            <RadioButton @key="ValuePairs[index].Key"
                                         Value="ValuePairs[index].Key"
                                         Label="@ValuePairs[index].Value"
                                         CheckedIcon="@CheckedIcon"
                                         CheckedIconOutlined="CheckedIconOutlined"
                                         Disabled="Disabled"
                                         InputAttributes="InputAttributes"
                                         InputClass="@InputClass"
                                         InputStyle="@InputStyle"
                                         ReadOnly="ReadOnly"
                                         UncheckedIcon="@UncheckedIcon"
                                         UncheckedIconOutlined="CheckedIconOutlined" />
                        }
                    }
                </CascadingValue>
            </CascadingValue>
        </div>
    </div>
    @if (IsInvalidAndTouched)
    {
        <div class="field-helpers">
            <ul class="mr-auto mb-0 pl-0">
                @foreach (var message in GetValidationMessages())
                {
                    <li>@message</li>
                }
            </ul>
        </div>
    }
</fieldset>


