@page "/components/accordion"

<PageTitle>Accordion - Tavenem Blazor Framework</PageTitle>

<h1>Accordion</h1>

<p>
    The accordion <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">web
    component</a> is intended to hold a collection of <a href="./components/collapse">Collapse</a>
    components, or <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details">details</a>
    elements. There are two main versions of the component: one where only one collapse is
    permitted to be open at a time, and one where any collapse can be open or closed without regard
    for the others.
</p>

<h2>Any number open</h2>

<p>
    The version where any component can be open is the simplest. Just wrap a set of
    <a href="./components/collapse">Collapse</a> components or
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details">details</a>
    elements in a <code>tf-accordion</code> element.
</p>

<Collapse Id="ce-1" IsInitiallyOpen="true" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <tf-accordion>
                <Collapse Id="a-1-c1" Title="Collapse #1">Collapsed content #1</Collapse>
                <details><summary>Details #2</summary>Collapsed content #2</details>
                <Collapse Id="a-1-c3" Title="Collapse #3">Collapsed content #3</Collapse>
            </tf-accordion>
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<tf-accordion>
    <Collapse Title=""Collapse #1"">Collapsed content #1</Collapse>
    <details><summary>Details #2</summary>Collapsed content #2</details>
    <Collapse Title=""Collapse #3"">Collapsed content #3</Collapse>
</tf-accordion>")
    </ChildContent>
</Collapse>

<h2>Only one open</h2>

<p>
    To enforce just one collapse being open at once, add the <code>data-only-one</code> attribute.
</p>

<Collapse Id="ce-2" IsInitiallyOpen="true" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <tf-accordion data-only-one>
                <Collapse Id="a-2-c1" Title="Collapse #1">Collapsed content #1</Collapse>
                <Collapse Id="a-2-c2" Title="Collapse #2">Collapsed content #2</Collapse>
                <Collapse Id="a-2-c3" Title="Collapse #3">Collapsed content #3</Collapse>
            </tf-accordion>
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<tf-accordion data-only-one>
    <Collapse Title=""Collapse #1"">Collapsed content #1</Collapse>
    <Collapse Title=""Collapse #2"">Collapsed content #2</Collapse>
    <Collapse Title=""Collapse #3"">Collapsed content #3</Collapse>
        </tf-accordion>")
    </ChildContent>
</Collapse>

<h2>Dense</h2>

<p>
    The collapses can all be made dense (limited padding) by applying the <code>dense</code> class
    directly to the accordion itself.
</p>

<Collapse Id="ce-3" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <tf-accordion class="dense">
                <Collapse Id="a-3-c1" Title="Collapse #1">Collapsed content #1</Collapse>
                <Collapse Id="a-3-c2" Title="Collapse #2">Collapsed content #2</Collapse>
                <Collapse Id="a-3-c3" Title="Collapse #3">Collapsed content #3</Collapse>
            </tf-accordion>
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<tf-accordion class=""dense"">
    <Collapse Title=""Collapse #1"">Collapsed content #1</Collapse>
    <Collapse Title=""Collapse #2"">Collapsed content #2</Collapse>
    <Collapse Title=""Collapse #3"">Collapsed content #3</Collapse>
</tf-accordion>")
    </ChildContent>
</Collapse>

<h2>Flush</h2>

<p>
    Use the <code>flush</code> class to remove the rounded corners and the shadow.
</p>

<Collapse Id="ce-4" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <div class="outlined">
                <tf-accordion class="flush">
                    <Collapse Id="a-4-c1" Title="Collapse #1">Collapsed content #1</Collapse>
                    <Collapse Id="a-4-c2" Title="Collapse #2">Collapsed content #2</Collapse>
                    <Collapse Id="a-4-c3" Title="Collapse #3">Collapsed content #3</Collapse>
                </tf-accordion>
            </div>
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<tf-accordion class=""outlined"">
    <div class=""flush"">
        <Collapse Title=""Collapse #1"">Collapsed content #1</Collapse>
        <Collapse Title=""Collapse #2"">Collapsed content #2</Collapse>
        <Collapse Title=""Collapse #3"">Collapsed content #3</Collapse>
    </div>
</tf-accordion>")
    </ChildContent>
</Collapse>

<h2>Disabled</h2>

<p>
    Add the <code>disabled</code> attribute to an accordion component to disable all the collapses. Note
    that this doesn't change the collapsed state of the collapses, or prevent it from being changed
    programmatically. It only prevents user interaction.
</p>

<Collapse Id="ce-5" IsInitiallyOpen="true" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <tf-accordion disabled>
                <Collapse Id="a-5-c1" Title="Collapse #1">Collapsed content #1</Collapse>
                <Collapse Id="a-5-c2" IsInitiallyOpen="true" Title="Collapse #2">Collapsed content #2</Collapse>
                <Collapse Id="a-5-c3" Title="Collapse #3">Collapsed content #3</Collapse>
            </tf-accordion>
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<tf-accordion disabled>
    <Collapse Title=""Collapse #1"">Collapsed content #1</Collapse>
    <Collapse IsOpen=""true"" Title=""Collapse #2"">Collapsed content #2</Collapse>
    <Collapse Title=""Collapse #3"">Collapsed content #3</Collapse>
</tf-accordion>")
    </ChildContent>
</Collapse>