@page "/components/accordion"

<PageTitle>Accordion - Tavenem Blazor Framework</PageTitle>

<h1>Accordion</h1>

<p>
    The accordion <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">web
    component</a> is intended to hold a collection of <a href="./components/collapse">Collapse</a>
    components, or <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details">details</a>
    elements. There are two main versions of the component: one where only one collapse is
    permitted to be open at a time, and one where any collapse can be open or closed without regard
    for the others.
</p>

<h2>Any number open</h2>

<p>
    The version where any component can be open is the simplest. Just wrap a set of
    <a href="./components/collapse">Collapse</a> components or
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details">details</a>
    elements in a <code>tf-accordion</code> element.
</p>

<CodeExample IsOpen="true" Code="@(@"<tf-accordion>
    <Collapse Title=""Collapse #1"">Collapsed content #1</Collapse>
    <details><summary>Details #2</summary>Collapsed content #2</details>
    <Collapse Title=""Collapse #3"">Collapsed content #3</Collapse>
</tf-accordion>")">
    <tf-accordion>
        <Collapse Title="Collapse #1">Collapsed content #1</Collapse>
        <details><summary>Details #2</summary>Collapsed content #2</details>
        <Collapse Title="Collapse #3">Collapsed content #3</Collapse>
    </tf-accordion>
</CodeExample>

<h2>Only one open</h2>

<p>
    To enforce just one collapse being open at once, add the <code>data-only-one</code> attribute.
</p>

<CodeExample IsOpen="true" Code="@(@"<tf-accordion data-only-one>
    <Collapse Title=""Collapse #1"">Collapsed content #1</Collapse>
    <details><summary>Details #2</summary>Collapsed content #2</details>
    <Collapse Title=""Collapse #3"">Collapsed content #3</Collapse>
</tf-accordion>")">
    <tf-accordion data-only-one>
        <Collapse Title="Collapse #1">Collapsed content #1</Collapse>
        <details><summary>Details #2</summary>Collapsed content #2</details>
        <Collapse Title="Collapse #3">Collapsed content #3</Collapse>
    </tf-accordion>
</CodeExample>

<h2>Dense</h2>

<p>
    The collapses can all be made dense (limited padding) by applying the <code>dense</code> class
    directly to the accordion itself.
</p>

<CodeExample Code="@(@"<tf-accordion class=""dense"">
    <Collapse Title=""Collapse #1"">Collapsed content #1</Collapse>
    <Collapse Title=""Collapse #2"">Collapsed content #2</Collapse>
    <Collapse Title=""Collapse #3"">Collapsed content #3</Collapse>
</tf-accordion>")">
    <tf-accordion class="dense">
        <Collapse Title="Collapse #1">Collapsed content #1</Collapse>
        <Collapse Title="Collapse #2">Collapsed content #2</Collapse>
        <Collapse Title="Collapse #3">Collapsed content #3</Collapse>
    </tf-accordion>
</CodeExample>

<h2>Flush</h2>

<p>
    Use the <code>flush</code> class to remove the rounded corners and the shadow.
</p>

<CodeExample Code="@(@"<tf-accordion class=""outlined"">
    <div class=""flush"">
        <Collapse Title=""Collapse #1"">Collapsed content #1</Collapse>
        <Collapse Title=""Collapse #2"">Collapsed content #2</Collapse>
        <Collapse Title=""Collapse #3"">Collapsed content #3</Collapse>
    </div>
</tf-accordion>")">
    <div class="outlined">
        <tf-accordion class="flush">
            <Collapse Title="Collapse #1">Collapsed content #1</Collapse>
            <Collapse Title="Collapse #2">Collapsed content #2</Collapse>
            <Collapse Title="Collapse #3">Collapsed content #3</Collapse>
        </tf-accordion>
    </div>
</CodeExample>

<h2>Disabled</h2>

<p>
    Add the <code>disabled</code> attribute to an accordion component to disable all the collapses. Note
    that this doesn't change the collapsed state of the collapses, or prevent it from being changed
    programmatically. It only prevents user interaction.
</p>

<CodeExample IsOpen="true" Code="@(@"<tf-accordion disabled>
    <Collapse Title=""Collapse #1"">Collapsed content #1</Collapse>
    <Collapse IsOpen=""true"" Title=""Collapse #2"">Collapsed content #2</Collapse>
    <Collapse Title=""Collapse #3"">Collapsed content #3</Collapse>
</tf-accordion>")">
    <tf-accordion disabled>
        <Collapse Title="Collapse #1">Collapsed content #1</Collapse>
        <Collapse IsInitiallyOpen="true" Title="Collapse #2">Collapsed content #2</Collapse>
        <Collapse Title="Collapse #3">Collapsed content #3</Collapse>
    </tf-accordion>
</CodeExample>