@page "/components/rating"

<PageTitle>Rating - Tavenem Blazor Framework</PageTitle>

<h1>Rating</h1>

<p>
    The rating component is a custom variation of a radio input which uses icons to indicate a
    value scale.
</p>

<p>
    Note: like all Tavenem Framework forms components, this control cannot be used on static
    server-side rendered pages. It will always be disabled when rendered statically. This is because
    it relies on interactivity to operate. When <em>pre</em>rendered server-side, it will be
    disabled during the prerender pass, then become enabled when interactivity becomes available.
</p>

<h2>Basics</h2>

<p>
    Use the <code>Rating</code> component to create a rating input. The <code>Value</code> property
    indicates the current rating, and can be bound. The <code>MaxValue</code> sets the number of
    input icons, and defaults to 5.
</p>

<Collapse Id="ce-1" IsOpen="true" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row flex-column center-items">
            <Rating Value="3" />
            <Rating Value="6" MaxValue="10" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<Rating Value=""3"" />
<Rating Value=""6"" MaxValue=""10"" />")
    </ChildContent>
</Collapse>

<p>
    The <code>Label</code> property can be used to add a description or instructions.
</p>

<Collapse Id="ce-2" IsOpen="true" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row flex-column center-items">
            <Rating Value="3" Label="Please rate:" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<Rating Value=""3"" Label=""Please rate:"" />")
    </ChildContent>
</Collapse>

<p>
    You can set the <code>Disabled</code> property to <code>true</code> to disable the component, or
    the <code>ReadOnly</code> property to <code>true</code> to prevent setting the value, but
    without the dimmed color of a disabled control.
</p>

<Collapse Id="ce-3" IsOpen="true" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row flex-column center-items">
            <Rating Value="4" Disabled="true" />
            <Rating Value="2" ReadOnly="true" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<Rating Value=""4"" Disabled=""true"" />
<Rating Value=""2"" ReadOnly=""true"" />")
    </ChildContent>
</Collapse>

<h2>Required</h2>

<p>
    Set the <code>Required</code> property to specify whether the input is required. This adds an
    indicator to the label, and automatic verification rules which warn the user when the input is
    <code>null</code>. The warning will only appear after the user has interacted with the input for
    the first time (which should always result in a value, so the warning should not appear in
    normal usage).
</p>

<Collapse Id="ce-4" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <Rating Value="4" Required="true" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<Rating Value=""4"" Required=""true"" />")
    </ChildContent>
</Collapse>

<h2>Hover binding</h2>

<p>
    The <code>HoveredValue</code> property indicates the rating control the user is currently
    hovering over, and can be bound.
</p>

<Collapse Id="ce-5" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row flex-column center-items">
            <Rating @bind-HoveredValue="_hoverRating" />
            <span>@GetRating(_hoverRating)</span>
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<Rating @bind-HoveredValue=""_hoverRating"" />
<span>@GetRating(_hoverRating)</span>

@code {
    private byte? _hoverRating;
    private string GetRating(byte? value) => value switch
    {
        1 => ""Terrible"",
        2 => ""Bad"",
        3 => ""Ok"",
        4 => ""Good"",
        5 => ""Terrific!"",
        _ => ""Please select a rating"",
    };
}")
    </ChildContent>
</Collapse>

<h2>Name</h2>

<p>
    The <code>name</code> attribute of the input can be set with the property of the same name.
</p>

<h2>Auto-focus</h2>

<p>
    Set the <code>AutoFocus</code> property to <code>true</code> to automatically focus the input on
    page load. Setting this on more than one component will cause the first one in the DOM layout
    order to receive focus.
</p>

<p>
    Be cautious when using this property. It can be unfriendly to users who use screen-reading
    technology.
</p>

<h2>Methods</h2>

<p>
    The <code>FocusAsync</code> method will give the input focus.
</p>

<h2>Customization</h2>

<p>
    You can set a color with the <code>ThemeColor</code> property.
</p>

<Collapse Id="ce-6" IsOpen="true" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row flex-column center-items">
            <Rating Value="3" ThemeColor="ThemeColor.Primary" />
            <Rating Value="3" ThemeColor="ThemeColor.Secondary" />
            <Rating Value="3" ThemeColor="ThemeColor.Tertiary" />
            <Rating Value="3" ThemeColor="ThemeColor.Dark" />
            <Rating Value="3" ThemeColor="ThemeColor.Default" />
            <Rating Value="3" ThemeColor="ThemeColor.Info" />
            <Rating Value="3" ThemeColor="ThemeColor.Success" />
            <Rating Value="3" ThemeColor="ThemeColor.Warning" />
            <Rating Value="3" ThemeColor="ThemeColor.Danger" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<Rating Value=""3"" ThemeColor=""ThemeColor.Primary"" />
<Rating Value=""3"" ThemeColor=""ThemeColor.Secondary"" />
<Rating Value=""3"" ThemeColor=""ThemeColor.Tertiary"" />
<Rating Value=""3"" ThemeColor=""ThemeColor.Dark"" />
<Rating Value=""3"" ThemeColor=""ThemeColor.Default"" />
<Rating Value=""3"" ThemeColor=""ThemeColor.Info"" />
<Rating Value=""3"" ThemeColor=""ThemeColor.Success"" />
<Rating Value=""3"" ThemeColor=""ThemeColor.Warning"" />
<Rating Value=""3"" ThemeColor=""ThemeColor.Danger"" />")
    </ChildContent>
</Collapse>

<p>
    You can use the <code>small</code> or <code>large</code> classes to adjust the size of the controls.
</p>

<Collapse Id="ce-7" IsOpen="true" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row flex-column center-items">
            <Rating Value="3" Class="small" />
            <Rating Value="3" />
            <Rating Value="3" Class="large" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<Rating Value=""3"" Class=""small"" />
<Rating Value=""3"" />
<Rating Value=""3"" Class=""large"" />")
    </ChildContent>
</Collapse>

<p>
    The <code>ActiveIcon</code> and <code>InactiveIcon</code> properties can be used to control the
    icons used for full and empty rating controls, respectively.
</p>

<p>
    The <code>IsActiveOutlined</code> and <code>IsInactiveOutlined</code> properties can be used to
    control whether the icons used for full and empty rating controls receive the "outlined" CSS
    class, respectively. <code>IsInactiveOutlined</code> is <code>true</code> by default.
</p>

<Collapse Id="ce-8" IsOpen="true" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row flex-column center-items">
            <Rating Value="3" ThemeColor="ThemeColor.Danger" ActiveIcon="favorite" InactiveIcon="heart_broken" IsInactiveOutlined="false" />
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<Rating Value=""3"" ThemeColor=""ThemeColor.Danger"" ActiveIcon=""favorite"" InactiveIcon=""heart_broken"" IsInactiveOutlined=""false"" />")
    </ChildContent>
</Collapse>

<p>
    You can use the <code>RatingItemClass</code> and <code>RatingItemStyle</code> properties to
    customize the CSS style of the rating controls.
</p>

<h2>Keyboard navigation</h2>

<p>
    When focused, and not disabled or readonly:
    <ul>
        <li><kbd>&larr;</kbd> decreases the value by 1</li>
        <li><kbd>Shift</kbd> + <kbd>&larr;</kbd> sets the value to zero</li>
        <li><kbd>&rarr;</kbd> increases the value by 1</li>
        <li><kbd>Shift</kbd> + <kbd>&rarr;</kbd> sets the value to the maximum</li>
    </ul>
</p>

<h2>Validation</h2>

<p>
    See <a href="./components/form#validation">Validation</a> for information about validating Tavenem
    Blazor Framework form components.
</p>

@code {
    private byte? _hoverRating;
    private string GetRating(byte? value) => value switch
    {
        1 => "Terrible",
        2 => "Bad",
        3 => "Ok",
        4 => "Good",
        5 => "Terrific!",
        _ => "Please select a rating",
    };
}