@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<aside @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    <div class="@HeaderClassName">
        <div class="@HeaderToolbarClassName">
            @HeaderContent
            @if (IsInteractive)
            {
                <tf-close class="drawer-close-small" @onclick="OnClosedAsync" />
            }
        </div>
    </div>
    @ChildContent
    @if (FooterContent is not null)
    {
        <div class="footer appbar">
            <div class="@FooterToolbarClassName">
                @FooterContent
            </div>
        </div>
    }
</aside>
