@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<aside @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    <div class="@HeaderClassName">
        @HeaderContent
        <tf-drawer-close data-side="@Side.ToString().ToLowerInvariant()" />
    </div>
    @ChildContent
    @if (FooterContent is not null)
    {
        <div class="@FooterClassName">
            @FooterContent
        </div>
    }
</aside>
<tf-drawer-overlay data-side="@Side.ToString().ToLowerInvariant()" />
