@namespace Tavenem.Blazor.Framework

@typeparam TChip

@inherits ListItem<TChip>

@if (SeparatorBefore)
{
    <div class="vr"></div>
}
<div class="@CssClass"
     style="@CssStyle"
     draggable="@Draggable"
     @onclick="OnClickAsync"
     @ondragstart="OnDragStart"
     @ondragend="OnDragEndAsync"
     @ondragenter="OnDragEnter"
     @ondragleave="OnDragLeave"
     ondragover="event.preventDefault()"
     @ondrop="OnDropAsync">
    @if (!string.IsNullOrWhiteSpace(IconName))
    {
        <span class="@IconClassName">@IconName</span>
    }
    @if (ChildContent is null)
    {
        <span>@(Item?.ToString())</span>
    }
    else
    {
        @ChildContent
    }
    @if (ChipSet?.AutoClose == true || ChipSet?.OnChipClosed.HasDelegate == true)
    {
        <div class="btn-close" @onclick="OnClosedAsync">close</div>
    }
</div>
@if (SeparatorAfter)
{
    <div class="vr"></div>
}
