@namespace Tavenem.Blazor.Framework

@typeparam TChip

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle" @onclick="OnClickAsync">
    @if (!string.IsNullOrWhiteSpace(IconName))
    {
        <span class="@IconClassName">@IconName</span>
    }
    @if (ChildContent is null)
    {
        <span>@(Text ?? Item?.ToString())</span>
    }
    else
    {
        @ChildContent
    }
    @if (AutoClose || OnClosed.HasDelegate)
    {
        <div class="btn-close" @onclick="OnClosedAsync">close</div>
    }
</div>
