@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<aside @attributes="AdditionalAttributes" class="@CssClass" style="@Style">
    <div class="@HeaderClassName">
        <div class="@HeaderToolbarClassName">
            @Header
            <div class="btn-close drawer-close-small" @onclick="OnClosedAsync">close</div>
        </div>
    </div>
    @ChildContent
    @if (Footer is not null)
    {
        <div class="footer appbar">
            <div class="@FooterToolbarClassName">
                @Footer
            </div>
        </div>
    }
</aside>
