@namespace Tavenem.Blazor.Framework.InternalComponents

@typeparam TListItem

@inherits Collapse

<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    <div class="@HeaderClass">
        @if (TitleContent is null)
        {
            <div class="expand" @onclick="OnToggleAsync">
                <span id="@Id"
                      draggable="@(IsDraggable ? "true" : "false")">@Title</span>
                <span class="icon ms-2">@IconClass</span>
            </div>
        }
        else if (TitleIsToggle)
        {
            <div id="@Id"
                 class="d-flex flex-column flex-grow-1 clickable"
                 @onclick="OnToggleAsync"
                 draggable="@(IsDraggable ? "true" : "false")">
                 @TitleContent
            </div>
            <span class="icon expand ms-2" @onclick="OnToggleAsync">@IconClass</span>
        }
        else
        {
            <div id="@Id"
                 class="d-flex flex-column flex-grow-1"
                 draggable="@(IsDraggable ? "true" : "false")">
                @TitleContent
            </div>
            <span class="icon expand ms-2" @onclick="OnToggleAsync">@IconClass</span>
        }
    </div>
    <div class="@BodyCssClass">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
    @if (FooterContent is not null)
    {
        <div class="@FooterCssClass">
            @FooterContent
        </div>
    }
</div>
