@namespace Tavenem.Blazor.Framework

@typeparam TValue

@inherits BoolInputComponentBase<TValue>

<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    <label>
        <span class="@IconClass">
            <input @ref="ElementReference"
                   @attributes="InputAttributes"
                   id="@Id"
                   type="checkbox"
                   class="@InputCssClass"
                   style="@InputCssStyle"
                   autofocus="@AutoFocus"
                   checked="@IsChecked"
                   disabled="@Disabled"
                   name="@NameValue"
                   readonly="@ReadOnly"
                   required="@Required"
                   tabindex="@TabIndex"
                   value="@bool.TrueString"
                   @onchange="OnChange"
                   @onclick:preventDefault="ReadOnly"
                   onclick="@(AllowNull ? "if (this.multiple) this.checked=this.multiple=false; else if (!this.checked) this.multiple=this.indeterminate=true;" : null)"/>
            <tf-icon class="@CheckedIconClass">@CheckedIcon</tf-icon>
            <tf-icon class="@UncheckedIconClass">@UncheckedIcon</tf-icon>
            <tf-icon class="@IndeterminateIconClass">@IndeterminateIcon</tf-icon>
        </span>
        @if (Value is null)
        {
            <script type="text/javascript">
                (() => {
                    const cb = document.getElementById('@Id');
                    cb.indeterminate = true;
                })();
            </script>
        }
        @if (!string.IsNullOrEmpty(Label))
        {
            <label class="label" for="@Id">@Label</label>
        }
    </label>
    @if (IsInvalidAndTouched)
    {
        <div class="field-helpers">
            <ul class="mr-auto mb-0 pl-0">
                @foreach (var message in GetValidationMessages())
                {
                    <li>@message</li>
                }
            </ul>
        </div>
    }
    @ChildContent
</div>
