@namespace Tavenem.Blazor.Framework

@typeparam TValue

@inherits BoolInputComponentBase<TValue>

<tf-checkbox @ref="ElementReference"
             @attributes="AdditionalAttributes"
             id="@Id"
             class="@CssClass"
             data-allow-null="@(AllowNull && CanBeNull)"
             data-checked-outlined="@IsCheckedIconOutlined"
             data-indeterminate-outlined="@IsIndeterminateIconOutlined"
             data-label="@Label"
             data-requires-true="@RequiresTrue"
             autofocus="@AutoFocus"
             checked="@IsChecked"
             disabled="@Disabled"
             indeterminate="@(IsChecked is null)"
             name="@NameValue"
             readonly="@ReadOnly"
             required="@Required"
             style="@CssStyle"
             tabindex="@TabIndex"
             @oninputtoggle="OnToggle">
    @if (!string.IsNullOrEmpty(CheckedIcon))
    {
        <tf-icon slot="checked" class="@CheckedIconClass">@CheckedIcon</tf-icon>
    }
    @if (!string.IsNullOrEmpty(UncheckedIcon))
    {
        <tf-icon slot="unchecked" class="@UncheckedIconClass">@UncheckedIcon</tf-icon>
    }
    @if (!string.IsNullOrEmpty(IndeterminateIcon))
    {
        <tf-icon slot="indeterminate" class="@IndeterminateIconClass">@IndeterminateIcon</tf-icon>
    }
    @if (IsInvalidAndTouched)
    {
        <ul slot="helpers" class="mr-auto mb-0 pl-0">
            @foreach (var message in GetValidationMessages())
            {
                <li>@message</li>
            }
        </ul>
    }
    @ChildContent
</tf-checkbox>
