@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" id="@_elementId" class="dialog-container">
    @if (!Options.NonModal)
    {
        <div class="overlay" @onclick="OnOverlayClick" @onclick:stopPropagation="true"></div>
    }
    <dialog id="@Id" open="true" class="@CssClass" style="@CssStyle">
        <FocusTrap Style="border-radius:inherit">
            @if (!Options.HideHeader)
            {
                <div class="@HeaderCssClass">
                    @if (TitleContent is not null)
                    {
                        @TitleContent
                    }
                    else if (!string.IsNullOrEmpty(Title))
                    {
                        <h6>@Title</h6>
                    }
                    @if (!Options.HideCloseButton)
                    {
                        <tf-close @onclick="Cancel" />
                    }
                </div>
            }
            <CascadingValue Value="this" IsFixed="true">
                @ChildContent
            </CascadingValue>
        </FocusTrap>
    </dialog>
</div>
