@namespace Tavenem.Blazor.Framework

@typeparam TChip

@inherits ListItem<TChip>

@if (SeparatorBeforeValue)
{
    <div class="vr"></div>
}
<div id="@Id"
     role="listitem"
     class="@CssClass"
     style="@CssStyle"
     data-can-close
     draggable="@(GetIsDraggable() ? "true" : "false")"
     @onclick="OnClickAsync">
    @if (!string.IsNullOrWhiteSpace(IconName))
    {
        <tf-icon class="@IconClassName">@IconName</tf-icon>
    }
    @if (ChildContent is null)
    {
        <span>@(Item?.ToString())</span>
    }
    else
    {
        @ChildContent
    }
    @if (ChipSet?.OnChipClosed.HasDelegate == true)
    {
        <tf-close disabled="@(!Interactive)" @onclick="OnClosedAsync" />
    }
    else if (ChipSet?.AutoClose == true)
    {
        <tf-close data-close-auto />
    }
</div>
@if (SeparatorAfterValue)
{
    <div class="vr"></div>
}
