@namespace Tavenem.Blazor.Framework

@typeparam TChip

@inherits ListItem<TChip>

@if (SeparatorBeforeValue)
{
    <div class="vr"></div>
}
<div id="@Id"
     role="listitem"
     class="@CssClass"
     style="@CssStyle"
     draggable="@(GetIsDraggable() ? "true" : "false")"
     @onclick="OnClickAsync">
    @if (!string.IsNullOrWhiteSpace(IconName))
    {
        <tf-icon class="@IconClassName">@IconName</tf-icon>
    }
    @if (ChildContent is null)
    {
        <span>@(Item?.ToString())</span>
    }
    else
    {
        @ChildContent
    }
    @if (ChipSet?.AutoClose == true || ChipSet?.OnChipClosed.HasDelegate == true)
    {
        <tf-close @onclick="OnClosedAsync" />
    }
</div>
@if (SeparatorAfterValue)
{
    <div class="vr"></div>
}
