@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

@if (AvatarGroup is null || AvatarGroup.ShouldDisplay(this))
{
    <div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
        @if (!string.IsNullOrEmpty(Image))
        {
            if (!string.IsNullOrEmpty(Alt))
            {
                <img src="@Image" alt="@Alt" />
            }
            else
            {
                <img src="@Image" />
            }
        }
        else
        {
            @ChildContent
        }
    </div>
}
