@namespace Tavenem.Blazor.Framework

@typeparam TValue

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label for="@Id">@Label</label>
    }
    <meter @ref="ElementReference"
           @attributes="MeterAttributes"
           id="@Id"
           class="@MeterClass"
           style="@MeterStyle"
           high="@HighString"
           low="@LowString"
           max="@MaxString"
           min="@MinString"
           optimum="@OptimumString"
           value="@ValueString" />
    @ChildContent
    @if (TooltipContent is not null || TooltipMarkup.HasValue || !string.IsNullOrWhiteSpace(TooltipText))
    {
        <Tooltip ThemeColor="ThemeColor"
                 TooltipMarkup="TooltipMarkup"
                 TooltipText="@TooltipTextValue">
            @TooltipContent
        </Tooltip>
    }
</div>


