@namespace Tavenem.Blazor.Framework

@typeparam TValue
@inherits FormComponentBase<TValue>

<tf-slider @ref="ElementReference"
           @attributes="AdditionalAttributes"
           id="@Id"
           autofocus="@AutoFocus"
           class="@CssClass"
           data-input-debounce="@UpdateOnInputDebounce"
           data-label="@Label"
           data-value="@CurrentValueAsString"
           disabled="@Disabled"
           max="@MaxString"
           min="@MinString"
           name="@NameValue"
           readonly="@ReadOnly"
           required="@Required"
           step="@StepString"
           style="@CssStyle"
           tabindex="@TabIndex"
           value="@CurrentValueAsString"
           @onvaluechange="OnChange">
    <div class="hashes" slot="hashes">
        @for (var i = 0; i < _tickCount; i++)
        {
            var index = i;
            <div>
                <span />
                @if (HashLabels?.Count > index)
                {
                    <span>@HashLabels[index]</span>
                }
            </div>
        }
    </div>
    @ChildContent
    @if (IsInvalidAndTouched)
    {
        <ul slot="helpers" class="mr-auto mb-0 pl-0">
            @foreach (var message in GetValidationMessages())
            {
                <li>@message</li>
            }
        </ul>
    }
</tf-slider>
