@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

@if (HeadingCount > 0)
{
    <nav @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
        @if (ChildContent is null)
        {
            <div class="subheader sticky">Contents</div>
        }
        else
        {
            @ChildContent
        }
        @if (Framework is not null)
        {
            foreach (var heading in Framework.Headings)
            {
                <AnchorLink href="@($"#{heading.Id}")" Class="@(heading == Framework.ActiveHeading ? "active" : null)"><span style="@HeadingStyle(heading)">@heading.Title</span></AnchorLink>
            }
        }
    </nav>
}
