@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<nav @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    @if (ChildContent is null)
    {
        <div class="subheader sticky">Contents</div>
    }
    else

    {
        @ChildContent
    }
    @foreach (var heading in _headings)
    {
        <AnchorLink href="@($"#{heading.Id}")" Class="@(heading.IsActive ? "active" : null)"><span style="@HeadingStyle(heading)">@heading.Title</span></AnchorLink>
    }
</nav>
