@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div class="@CssClass" style="@Style">
    <SnackbarContainer @rendermode="InteractiveRenderMode" />
    <DialogContainer @rendermode="InteractiveRenderMode" />
    <CascadingValue Value="this" IsFixed="true">
        @FrameworkContent
        <main class="container">
            @ChildContent
            @if (AutoScrollToTop)
            {
                <tf-scroll-top />
            }
        </main>
    </CascadingValue>
    @if (ContentsBreakpoint != Breakpoint.None)
    {
        <tf-contents class="@ContentsClass"
                     data-max-level="@(ContentsMaxLevel <= 0 ? null : ContentsMaxLevel)"
                     data-max-level-offset="@(ContentsMaxLevelOffset)"
                     data-min-headings="@ContentsMinHeadings" />
    }
</div>